[2017-01-19 10:22] Ks89 opened #3 "aot"

[2017-01-19 10:22] Ks89 opened #4 "angular4 support"

[2017-01-19 10:24] Ks89 opened #5 "publish on npm"

[2017-01-19 10:24] Ks89 opened #6 "rewrite in a standard way using webpack or rollup"

[2017-01-19 10:25] Ks89 opened #7 "unit testing"

[2017-01-19 10:25] Ks89 opened #8 "travisci and appveyor"

[2017-01-19 10:25] Ks89 opened #9 "create an official example application with webpack 2"

[2017-01-19 10:26] Ks89 opened #10 "create a website for this project"

[2017-01-23 02:02] #9 closed

[2017-01-23 02:02] #6 closed

[2017-01-23 02:03] #4 closed

[2017-01-23 02:03] #3 closed

[2017-01-23 02:06] Ks89 opened #11 "copy labels from my mean website project"

[2017-01-23 02:06] Ks89 opened #12 "support angular cli"

[2017-01-24 00:49] #10 closed

[2017-01-24 00:49] Ks89 opened #13 "coveralls support"

[2017-01-24 00:49] Ks89 opened #14 "unit testing"

[2017-01-24 00:50] #7 closed

[2017-01-24 00:53] Ks89 opened #15 "publish on bower"

[2017-01-24 00:53] Ks89 opened #16 "write contributing.md delevopers.md, changelog.md and readme.md"

[2017-01-24 00:54] Ks89 opened #17 "rewrite css in SASS"

[2017-01-24 01:08] Ks89 opened #18 "fix demo - <base href="/angular-modal-gallery/"> should depends by webpack variables"
fix demo - <base href="/angular-modal-gallery/"> should depends by webpack variables

[2017-01-24 01:23] Ks89 opened #19 "greenkeeper"

[2017-01-26 23:28] #18 closed

[2017-01-27 17:14] Ks89 opened #20 "[mobile devices] add swipe actions"

[2017-01-27 20:04] #15 closed

[2017-01-27 20:05] Ks89 commented on #15
If you really need bower support, please post a comment here

[2017-01-27 20:05] #5 closed

[2017-01-30 01:11] Ks89 opened #21 "image description is always ignored"

[2017-01-30 01:15] #21 closed

[2017-01-31 23:00] Ks89 commented on #20
Implemented on branch `develop`. It will be released as part of angular-modal-gallery 3.0.0

[2017-01-31 23:03] #16 closed

[2017-01-31 23:03] #13 closed

[2017-01-31 23:03] #8 closed

[2017-01-31 23:37] Ks89 opened #22 "improve event management"
change how ImageModal emits events (all optional)

- [x] closed => to say if ImageModal is closed or not
- [x] visibileIndex => an integer with the index of the displayed image
- [x] lastImage => true/false if it is the last image
- [x] firstImage => true/false if it is the first image

[2017-01-31 23:39] #19 closed

[2017-02-01 00:12] #20 closed

[2017-02-01 00:12] Ks89 opened #23 "[mobile devices] remove arrows"

[2017-02-01 01:49] Ks89 commented on #22
implemented, develop branch.

PS: systemjs demo updated, but not webpack demo

[2017-02-02 00:48] #22 closed

[2017-02-02 01:11] Ks89 commented on #12
Work in progress :)

[2017-02-02 23:09] #23 closed

[2017-02-03 00:56] #12 closed

[2017-02-14 10:35] kejtizuki opened #24 "Unexpected token import"
Hey, I'm trying to use your modal gallery with webpack. I did everything exactly as in the section how to use it and I get the following error: _Uncaught SyntaxError: Unexpected token import_
Any idea what may be wrong?

[2017-02-14 11:23] Ks89 commented on #24
Did you see the official example inside demo/webpack folder (in the source code of this repository) ? I created it using the
It is possible that I made a mistake while writing the Readme. The official demo was working, since I deployed it on github pages.

Could you post these versions: angular-modal-gallery,  webpack, angular, node js and also which operating e system? And all other important inf

[2017-02-14 23:33] Ks89 commented on #24
Damn! These is a problem with one or more dependencies in the official webpack's demo. I'm really sorry about that. In my previous post I said the everything was ok, but this is not the true.

I pushed a fix to force all deps to a specific version. I'll fix this with a new major release (3.0.0), still inside the 'develop' branch, because under development.

I'll hope to release 3.0.0 before the en

[2017-02-16 20:39] Ks89 commented on #24
Hi @kejtizuki , do you have any updates?

[2017-02-20 01:15] Ks89 commented on #17
branch develop closes this issue

[2017-02-20 01:15] #17 closed

[2017-02-22 00:09] Ks89 opened #25 "Thumbs should be optional"

[2017-02-22 00:09] #25 closed

[2017-02-22 00:10] Ks89 opened #26 "Improve modal gallery description"
- [x] improve actual implementation
- [x] add full control over description

[2017-02-22 00:10] #26 closed

[2017-02-22 00:11] Ks89 opened #27 "Directives with button positioning"

[2017-02-22 00:11] #27 closed

[2017-02-22 00:11] Ks89 opened #28 "Create a subcomponent for upper buttons"

[2017-02-22 00:11] #28 closed

[2017-02-22 00:12] Ks89 opened #29 "Catch keyboard shortcuts using a service"

[2017-02-22 00:12] #29 closed

[2017-02-22 00:13] Ks89 opened #30 "Open external image from modal image with a dedicated button"

[2017-02-22 00:13] Ks89 opened #31 "Image download with button and cmd/ctrl+s"

[2017-02-22 00:13] #31 closed

[2017-02-22 00:13] #30 closed

[2017-02-22 00:14] Ks89 opened #32 "Improve demo apps and add angular-cli official demo"

[2017-02-22 00:14] #32 closed

[2017-02-22 00:14] Ks89 opened #33 "update systemjs demo to systemjs 0.20.x"
breaking changes with systemjs demo

[2017-02-22 00:14] #33 closed

[2017-02-22 00:15] Ks89 opened #34 "Improve docs for 3.0.0 release"
- [x] docs improvements
- [x] demo with interactive docs (work in progress here https://github.com/Ks89/angular-modal-gallery.github.io)

[2017-02-22 00:16] Ks89 opened #35 "publish 3.0.0 beta on npm"
npm install angular-modal-gallery@beta

[2017-02-27 01:10] #11 closed

[2017-03-14 00:57] Ks89 commented on #24
Closed by inactivity.

If you need more help, please re-open this issue.

[2017-03-14 00:57] #24 closed

[2017-03-16 23:51] #34 closed

[2017-03-20 19:41] Ks89 opened #36 "new repo image"
![amg](https://cloud.githubusercontent.com/assets/6057207/24118289/8ade6952-0dad-11e7-829f-416a24891ce0.png)

[2017-03-20 19:41] #36 closed

[2017-03-20 21:09] #35 closed

[2017-03-20 21:11] Ks89 opened #37 "Microsoft Edge - css description not well aligned (only on Edge :( )"
Microsoft Edge - css description not well aligned (only on Edge :( )

[2017-03-20 21:12] Ks89 opened #38 "Improve responsiveness of documentation website"
Improve responsiveness of documentation website (in particular demo pages with large tables)

[2017-03-20 21:14] Ks89 opened #39 "Improve support for IE (not edge) to download images directly with navigator.mssaveblob"
navigator.mssaveblob

[2017-03-20 21:15] Ks89 opened #40 "Click outside to close modal-gallery"
Click outside to close modal-gallery

[2017-03-20 21:16] Ks89 opened #41 "Keyboard service should be capable to receive Arrays or string from outside to configure mousetrap"

[2017-03-20 21:16] Ks89 opened #42 "ng-overlay should be a sub-component"

[2017-03-20 21:17] Ks89 opened #43 "It could be useful a Button object to configure button visibility and so on"

[2017-03-20 21:18] Ks89 opened #44 "Infinite scroll (configurable)"

[2017-03-20 21:18] Ks89 opened #45 "Both at the beginning and at the end, side arrows should be hidden"

[2017-03-20 21:22] Ks89 opened #46 "New @Input "secureConfig" to whitelist urls and enable/disable download blocking mouse right click"
new input “secureConfig = {blockDownload: boolean, allowedExtUrlDomains: [string, string….]} the first one blocks image download with mouse right click and also ctrl+s, the second one shows buttons only if urls are whitelisted in "allowedExtUrlDomains"

This could be useless, I know :)

[2017-03-20 21:32] Ks89 opened #47 "fix scroll bug (documentation website)"

[2017-03-21 09:39] Ks89 opened #48 "Improve modal layout with small previews, animations and so on"
Improve modal layout with small previews, animations and so on

[2017-03-21 09:40] Ks89 opened #49 "Improve imagepointer feature"
Improve imagepointer feature

[2017-03-23 21:34] Ks89 commented on #38
Work in progress, with very high priority

[2017-03-26 01:28] #47 closed

[2017-03-26 18:34] #38 closed

[2017-03-26 19:22] Ks89 opened #50 "Support Angular 4 final"
Support Angular 4 final.

It should work, but I want to do some tests before to say that everything is really ok.

[2017-03-26 22:46] #50 closed

[2017-04-03 07:47] Ks89 opened #51 "Official demos: IE performance issue with debug mode"
Related to this https://github.com/angular/zone.js/issues/691

Fixed but I'm waiting for a new version of zone.js

[2017-04-13 14:09] Ks89 opened #52 "Close modal image when users press the back button on smartphones"

[2017-04-13 21:12] Ks89 opened #53 "Use tslint as npm script"

[2017-04-13 21:37] Ks89 opened #54 "Update to tslint 5 in all demos"
I'm waiting for a new major release of tslint-loader

[2017-04-13 21:39] Ks89 commented on #37
I really need help to fix this issue... please :)

[2017-04-26 20:58] #54 closed

[2017-04-26 20:59] #51 closed

[2017-04-26 20:59] #53 closed

[2017-04-26 21:01] Ks89 opened #55 "Add Circle Ci integration"
I have a circle ci config file, but I'm not able to build the webpack example...I don't know why

[2017-04-28 21:23] Ks89 commented on #50
Also Angular 4.1.0, out before the release of 3.0.2

[2017-05-15 02:58] patrickmichalina opened #56 "Rollup failure"
When using rollup: `'ModalGalleryModule' is not exported by node_modules/angular-modal-gallery/dist/bundles/angular-modal-gallery.umd.js`

[2017-05-15 06:58] Ks89 commented on #56
Hi. What does it mean for 'when using rollup'? Are you using angular in a project with rollup instead of either angular-cli or webpack?

At the moment, I'm supporting only systemjs, angular-cli and webpack 2 but I'm really happy to add also rollup. To do that, I really need a demo project or something like that on github to test this library.

Could you provide me more information about your scena

[2017-05-20 23:08] Ks89 commented on #55
https://discuss.circleci.com/t/cd-command-ignored-in-test-section/357

[2017-05-21 10:23] #55 closed

[2017-05-28 22:36] Ks89 commented on #43
Also add a new option to hide/show close button

[2017-05-28 22:51] Ks89 opened #57 "Expose ESC Keyboard shortcut with an @Input"
To configure esc keybord shortcut

[2017-05-28 22:52] #43 closed

[2017-05-28 23:10] Ks89 commented on #57
I exposed also right and left :)

[2017-05-28 23:10] #57 closed

[2017-05-29 19:15] Ks89 opened #58 "basic and mininal library documentation with typedoc"

[2017-05-29 19:26] #40 closed

[2017-05-30 22:26] Ks89 opened #59 "basic tslint config for angular-modal-gallery lib"

[2017-05-30 22:27] Ks89 opened #60 "build env with npm>=5.0.0 and node>=8.0.0"

[2017-05-30 22:31] Ks89 opened #61 "replace elementref with renderer to support angular-universal"
This could be not enough for anglar-universal, but it's a starting point

[2017-05-30 23:51] #61 closed

[2017-06-04 21:19] Ks89 opened #62 "add 'alt' to the modal image"
add 'alt' (with a description) to the modal image

[2017-06-05 20:47] Ks89 opened #63 "Add minimum IE version supported by this library"
which is the minimum supported browser?

[2017-06-07 18:40] Ks89 opened #64 "hasData event emitted multiple time while initializing the component"
hasData event emitted multiple time while initializing the component

[2017-06-07 18:42] #64 closed

[2017-06-10 22:43] Ks89 opened #65 "bug wrong result into imagemodalevent when clicking left arrow button"
This happens because instead of emitting "the current visible image index", I emits the newIndex

[2017-06-10 22:44] #65 closed

[2017-06-11 10:16] Ks89 opened #66 "improve unit testing with swipe events"

[2017-06-11 10:26] #14 closed

[2017-06-11 11:16] Ks89 opened #67 "is still working with angualar 2?"

[2017-06-11 14:36] #58 closed

[2017-06-11 14:38] Ks89 opened #68 "update demos to 3.1.0"

[2017-06-11 15:00] Ks89 opened #69 "improve CIs config for unit testing"

[2017-06-11 17:55] #68 closed

[2017-06-11 17:55] #69 closed

[2017-06-11 18:23] #63 closed

[2017-06-12 23:24] Ks89 commented on #67
Is Renderer2 available also in angular 2.x.x?

[2017-06-13 21:06] Ks89 commented on #67
Angular 2 support restored replacing Renderer2 with Renderer in all Directives

[2017-06-13 21:06] #67 closed

[2017-06-13 21:07] Ks89 opened #70 "remove Angular2 compatibility"

[2017-06-13 21:08] Ks89 commented on #70
for angular-modal-gallery 4.0.0 (still unscheduled, but probably at the end of 2017)

[2017-07-04 06:40] Ks89 commented on #37
Also on Safari :( I have to rewrite CSS for version 4.0.0

[2017-07-05 19:58] Beelphegor opened #71 "'ButtonsConfig' was not found in './modal-gallery.component'"
Getting this warnings after updating the library to 3.1.1
I had to rollback to 3.0.1 to get rid of them, couldn't figure out what was the problem.

WARNING in ./~/angular-modal-gallery/src/components/upper-buttons.component.ts
59:50-63 "export 'ButtonsConfig' was not found in './modal-gallery.component'

WARNING in ./~/angular-modal-gallery/src/components/upper-buttons.component.ts
59:83-96 "expor

[2017-07-06 06:13] Ks89 commented on #71
Hi thank u for you interest.
It's strange, because I'm using this version on 3 projects (one of them is the documentation and it's production ready) and also on 3 different CI environments... So I suppose that it's a problem related with npm.

Are you using npm 5? If yes, did you try to update the version of this library in your package.json, after that to remove package-lock.json and the entire n

[2017-07-06 06:52] Ks89 commented on #56
Is this still an issue? Could you provide me more info? Did you create an example project for that?

Thank u.

[2017-07-06 12:52] patrickmichalina commented on #56
You can close this! I do not use angular-cli, but moving on to fusebox so don't waste the effort. Thanks though

[2017-07-06 13:26] Ks89 commented on #56
Ok thank you for your response.

However, I'll reopen the issue, because I want to investigate in the future.

[2017-07-06 13:30] patrickmichalina commented on #56
Here is the seed I was using:

https://github.com/mgechev/angular-seed

install your module using SystemJS and then when running `npm run serve.prod.rollup.aot `. It failed during rollup

[2017-07-06 19:16] Ks89 commented on #56
ok I will try

[2017-07-07 17:29] Ks89 commented on #71
I checked and I confirm this issue. It's not a blocking issue, but I'll investigate.

[2017-07-07 17:30] Ks89 commented on #71
Ps it's happening only with angular-cli

[2017-07-07 20:49] #62 closed

[2017-07-09 00:24] Ks89 commented on #44
Include also this issue: `Both at the beginning and at the end, side arrows should be hidden` #45

[2017-07-09 00:26] #45 closed

[2017-07-09 00:26] Ks89 commented on #44
Add unit testing for this feature

[2017-07-09 13:16] #44 closed

[2017-07-10 20:22] Ks89 commented on #71
@Beelphegor it's an angular-cli issue. Check here: https://github.com/angular/angular-cli/issues/2034

I add the "WAITING" label to say that it's an issue that I can't fix at the moment, but I'm waiting for the official fix.

[2017-07-12 20:48] #66 closed

[2017-07-19 18:49] Ks89 commented on #41
Really necessary??

[2017-07-27 10:31] dvh312 commented on #71
Same here! Mac OS 10.12.6, Angular 4.

[2017-07-27 11:54] Ks89 commented on #71
@dvh312 If you want, I can try one of these workarounds (https://github.com/angular/angular-cli/issues/2034) releasing version 3.2.1.
When the final fix will be released by Google, I'll push version 3.2.2 with the final fix.
Is it ok for you?

[2017-07-27 11:55] dvh312 commented on #71
I'm fine with the warning. Take your time 👍

[2017-07-28 12:59] bittusinghintruder commented on #71
I am also facing the same issue. When this can be get resolved.

[2017-07-28 13:06] dvh312 commented on #71
@bittusinghintruder Maybe @Ks89  will try the workaround in the next release and he will fix it soon in 3.2.2.

[2017-07-28 13:18] Ks89 commented on #71
I'm really happy that you are using this library and you are interested in its development. :)

Ok, I'll try a workaround and I'll push 3.2.1 this weekend (I need some time to test all demos, documentation and so on to be sure to release a working version, since I'm developing this library during my spare time).

PS: if you have feature request and so on, please open an issue XD.

[2017-07-28 22:05] Ks89 commented on #71
3.2.1 released

Could you try this version? https://github.com/Ks89/angular-modal-gallery/releases/tag/v3.2.1

[2017-07-29 05:20] dvh312 commented on #71
@Ks89 No more warnings!!! Thank you very much. +1

[2017-07-29 06:28] Ks89 commented on #71
@bittusinghintruder and @Beelphegor can you close this issue?
Thank u.

[2017-07-31 06:04] bittusinghintruder commented on #71
Sorry for the late rely, will try today and let you know. Thanks.. :)

[2017-07-31 06:17] bittusinghintruder commented on #71
Wow cool @Ks89. No more warnings!!!!!!  You may close this issue from my side. Thank you very much.

[2017-07-31 06:29] #71 closed

[2017-07-31 17:36] kadosh1000 opened #72 "Module parse failes on css"
Hi, I am using your module with webpack.
I get an error while compiling the components:

![image](https://user-images.githubusercontent.com/2615945/28789892-c8e83eea-762f-11e7-8524-858912f4306a.png)

It seems like the styles urls are targeting the scss files instead of css files causing it to throw an error.
Is there a simple fix for it?

In my opinion the css files should be at least generated on

[2017-08-01 06:37] Ks89 commented on #72
Hi!
In every starter/skeleton/template that I tested there is always sass-loader.
This library is tested both with systemjs, angular-cli and webpack. Also I created a working example based on the template by AngularClass.

I didn't consider your scenario, but if you want I can test it. To do that, I need a working template to use it as a starting point. For instance, your package.json and all your

[2017-08-01 12:31] kadosh1000 commented on #72
My project is using this seed:
https://github.com/qdouble/angular-webpack2-starter

It also uses sass, and I am using it in my project.
The thing is the scss files are precompiled to css and the components are refrencing the css file.
I think this is a better way to support users that don't use sass or users that uses sass but not on runtime compilation (like me).

Currently I cannot use this modu

[2017-08-01 19:38] Ks89 commented on #72
@kadosh1000 which branch of https://github.com/qdouble/angular-webpack2-starter are you using? Master branch or another one?

[2017-08-02 11:18] kadosh1000 commented on #72
@Ks89  I have taken the master branch about two months ago,
but i guess it haven't changes too much since, so I think the current master should be just fine.

[2017-08-02 21:45] Ks89 opened #73 "ERROR in Error encountered resolving symbol values statically. Function calls are not supported. Consider replacing the function or lambda with a reference to an exported function..."
ERROR in Error encountered resolving symbol values statically. Function calls are not supported. Consider replacing the function or lambda with a reference to an exported function (position 194:50 in the original .ts file), resolving symbol NgModule in /Users/ks89/git/angular-webpack2-starter-demo-with-angular-modal-gallery/node_modules/angular-modal-gallery/node_modules/@angular/core/core.d.ts, r

[2017-08-02 21:53] Ks89 commented on #72
Ok, I'm doing some experiments. I'll update this issue in a couple of days. Please by patient.

[2017-08-06 08:47] Ks89 commented on #72
Hi! I created a fork of angular-webpack2-starter and I applied these modifications https://github.com/Ks89/angular-webpack2-starter-demo-with-angular-modal-gallery/commit/987d52e5dbb5482db54099b9c7f8b4c7829cef3f

It is working (probably not everything, since universal isn't fully supported right now).

PS: I cannot reproduce your bug with the latest version of the starter by qdouble.

Could you re

[2017-08-06 10:08] Ks89 commented on #73
still not working

[2017-08-06 15:57] Ks89 commented on #73
I'm working on this issue using this starter https://github.com/AngularClass/angular-starter

[2017-08-06 15:59] Ks89 commented on #73
Finally fixed? I really hope

[2017-08-06 18:15] Ks89 commented on #56
@patrickmichalina I'm trying to add my library to angular-seed without success.
How could you add this lib to that project? I used this tutorial https://github.com/mgechev/angular-seed/wiki/Add-external-dependency without success.

Do you have a working repo based on angular-seed with my library?

I can compile without errors, but when I try to run the app I get:
[code]

I suppose that I'm doing s

[2017-08-06 18:27] Ks89 commented on #73
Still not ok.
It's related to https://github.com/angular/angular/issues/14707

[2017-08-07 15:19] Ks89 commented on #41
Done [Here](https://github.com/Ks89/angular-modal-gallery/commit/2a06ac944cb6a8ee2e55d326a846ce9bcd67a231)

[2017-08-07 15:19] #41 closed

[2017-08-07 16:01] Ks89 commented on #73
It seems fixed thanks to branch 'DEVELOP'. It will be merged into master soon, when I'll release versione 3.3.0.

[2017-08-07 16:01] #73 closed

[2017-08-09 14:13] Ks89 commented on #73
I'm having this issue only with qdoudle's starter and with npm.

To fix this issue use yarn to install dependencies

[2017-08-22 23:07] F1nches opened #74 "Error: Project_Folder/node_modules/angular-modal-gallery/src/services/keyboard.service.ts (36,22): Cannot find name 'MousetrapInstance'."
Hi... I'm getting an error with compiling when I try to use this gallery... Any ideas?

`Cannot find name 'MousetrapInstance'.`

This is my app.module.ts:

[code]

[2017-08-22 23:09] F1nches commented on #74
I should add that I did npm install mousetrap and have it in my node_modules folder for my project.

[2017-08-22 23:15] Ks89 commented on #74
@F1nches did you install also `npm i --save-dev @types/mousetrap`?

If yes, which version of npm are you using? Npm 5?
Did you try to remove node_modules and package-lock.json and install everything again with `npm install`?

If yes, which version of angular-modal-gallery are you using? Try to read package.json inside node_modules/angular-modal-gallery.

PS: which starter, skeleton, template or ot

[2017-08-22 23:17] Ks89 commented on #72
@kadosh1000 are there some news? Did you fix the problem?  :)

Can I close this issue? XD

[2017-08-22 23:18] Ks89 opened #75 "Update docs + add faqs + create templates for github"
Add this to the documentation website
[code]

- [x] update docs as above
- [x] update doc's website to bootstrap beta 1
- [ ] add FAQs with common questions
- [x] create a template for github issues (like https://github.com/angular/angular/tree/master/.github)

[2017-08-22 23:30] F1nches commented on #74
Using Angular CLI

[code]

[2017-08-22 23:31] F1nches commented on #74
Using npm 5.0.3

[2017-08-22 23:39] F1nches commented on #74
I missed the instruction to do `npm i --save-dev @types/mousetrap` originally... It compiles now. I'll update once I try to get the gallery working if everything is working as intended.

Thank you for the fast reply!

[2017-08-23 00:12] F1nches commented on #74
Works great! Thank you so much for the great work!

[2017-08-23 00:13] #74 closed

[2017-08-23 02:17] kadosh1000 commented on #72
@Ks89
Hi unfortunately I was looking for a solution that will include AOT compilation. You can close this issue

[2017-08-23 09:03] #72 closed

[2017-08-23 09:05] Ks89 commented on #74
Perfect.

PS: I'll update also the documentation website to say that npm i --save-dev @types/mousetrap is mandatory to prevent problems.

[2017-08-24 09:57] Alados opened #76 "Square thumbnails"
Is this possible to have square thumbnails independent of real image size?

[2017-08-24 15:42] Ks89 commented on #76
Hi. Please could you add a screenshot/sketch with a demo? Or more info because I don't understand your question, sorry xd

[2017-08-24 23:15] Ks89 commented on #76
ah ok wait. I read again your question.
Are you asking a way to show thumbs all with a fixed user specified size?
Yes, I'm doing this in all my examples and documentation.

You should add/customize this to your project's css:

[code]

However, **I suggest to watch these example projects [HERE](https://github.com/Ks89/angular-modal-gallery/tree/master/demo)**

[2017-08-25 04:56] Alados commented on #76
@Ks89 I need that in thumb showing center of image, independent at real size of image. If they 1000x500 or 500x1000 we must show center and they must be equal size. I attached screenshot.
![1](https://user-images.githubusercontent.com/17882492/29700142-656ffd42-898c-11e7-9fcd-6221921dd85b.jpg)

[2017-08-25 07:00] Ks89 commented on #76
Ah ok.

You cannot add photos without your custom logic that changes the input array of images, but you can change css.

Check this example: https://github.com/Ks89/angular-modal-gallery/tree/master/demo/webpack
in particular this file: https://github.com/Ks89/angular-modal-gallery/blob/master/demo/webpack/src/app/pages/home/home.scss

This is a good question. I'm thinking about angular-modal-gall

[2017-08-27 15:42] krasznaidavid opened #77 "Angular CLI build error"
I'm getting the following error when building the project:

`ERROR in Error encountered resolving symbol values statically. Calling function 'InjectionToken', function calls are not supported. Consider replacing the function or lambda with a reference to an exported function, resolving symbol KEYBOARD_CONFIGURATION in ...node_modules/angular-modal-gallery/src/modal-gallery.module.ts, resolving sym

[2017-08-27 23:31] Ks89 commented on #77
This is related to #73

Which template/starter/seed/skeleton are you using for your application?

[2017-08-28 14:05] krasznaidavid commented on #77
It is a plain angular-cli project.

[2017-08-28 15:37] Ks89 commented on #77
Is it an open source project that I can try to build?

PS angular-cli is officially supported by this project, in fact I provide an official example here https://github.com/Ks89/angular-modal-gallery/tree/master/demo/angular-cli
Did you try to compare your project with the official example? Did you try to download and build my example?

This is to be sure to isolate the problem.

However the first

[2017-08-28 18:15] Ks89 commented on #77
Also try with a mom cache clean.

If needed use also - - force

[2017-08-28 23:34] krasznaidavid commented on #77
Thanks for your help! I was able to build the project.

[2017-08-28 23:34] #77 closed

[2017-08-29 07:20] Ks89 commented on #76
Ah ok.
I don't know how to do this, but this is a css problem not a real problem with this library.
I suggest to search on the web or stackoverflow.com how to do that via css3.

If you find something and you want to share it here,  I will be really happy to try to add it to future versions of this library.

[2017-08-30 09:06] Alados commented on #76
@Ks89 I know how this may be implemented. Need change tag "img" to "a". For all "a" must be set <a style="background: url('path to image') 50% 50%/cover">. May be you can add this and hide by bool variable? That another users can use library by old.

[2017-08-31 21:03] Ks89 commented on #76
I'm sorry, but what does it mean: "For all "a" must be set ."?

[2017-09-01 03:32] Alados commented on #76
Sorry, there must be code. For all "a" must be set this css code `<a style="background: url('адрес до картинки') 50% 50%/cover">`.

[2017-09-01 06:57] Ks89 commented on #76
Mm ok.
But I cannot promise a quick implementation. Probably it is better to schedule this feature for the next major release (4.0.0). Because I scared to introduce breaking changes. Other then the library itself, I also try to think about testing (unit and e2e) created by users of angular-modal-gallery.

I don't want to break features/unit testing/e2e testing.

What do you think? Is it acceptable

[2017-09-07 16:49] Ks89 opened #78 "update to circleci 2.0 and add circleci 2.0 also to the doc website"

[2017-09-07 16:51] Ks89 commented on #70
required to switch from Renderer to Renderer2, since the previous one is deprecated

[2017-09-10 14:56] Ks89 opened #79 "Add custom buttons with custom actions"
For instance add the capability to receive an array of button classes. Every chick emits an event as output.

Obviously, the @Output will be one and based on the payload you'll be able to know which button is pressed.

Something like that...this is only an idea.

Also, It could be useful provide an input to customize arrows to navigate between images. Obviously, this fill be fixed with two differe

[2017-09-10 15:04] Ks89 commented on #46
You you want this feature, please add a comment here, otherwise I'll not implement it in angular-modal-gallery 4.0.0

[2017-09-10 15:10] Ks89 opened #80 "5.0.0 Features/Roadmap (READY TO RELEASE TODAY) - HUGE MAJOR RELEASE"
I want to start to think about angular-modal-gallery 5.0.0. In particular I want to create a list with some possibile features.

I'll leave this list here for one month or more, before to start the implementation. I'll also update readme to encourage users to read this issue. I really need some feedbacks.

- [x] Rewrite SCSS/CSS layout with **FLEXBOX** fixing some well known bugs #98 #37 (BREAKING

[2017-09-10 15:13] Ks89 opened #81 "[partially done] Official support for SSR with angular universal"
Scheduled for version 4.0.0

[2017-09-10 15:20] Ks89 opened #82 "Add e2e tests with protractor"
At the beginning I accept a quick implementation.

The full implementation will be mandatory with version 4.0.0 or greater

[2017-09-10 15:26] Ks89 opened #83 "Update to Angular 5 when officially released"

[2017-09-10 15:28] Ks89 commented on #52
Version 4.0.0? I don't know.
I have to check if this is a real issue and decide what to do

[2017-09-11 17:07] Ks89 opened #84 "Infinite sliding will be disabled by default"

[2017-09-11 17:08] Ks89 opened #85 "Click Outside will be enabled by default"

[2017-09-12 16:51] Ks89 opened #86 "[DOCS] Fix documentation website to be able to navigate to inner routes directly"
http://www.backalleycoder.com/2016/05/13/sghpa-the-single-page-app-hack-for-github-pages/

Implemented and already working now in production, but I have to find a way to add these scripts automatically while building with webpack for github-pages.

Also related to this issue https://github.com/isaacs/github/issues/408

[2017-09-12 17:10] #86 closed

[2017-09-12 17:11] Ks89 commented on #86
Workaround added dynamically to the docs repo https://github.com/Ks89/angular-modal-gallery.github.io
It will be released with version 3.3.4

[2017-09-18 20:56] #78 closed

[2017-09-18 21:04] #75 closed

[2017-09-18 21:05] Ks89 opened #87 "Update official webpack demo to bootstrap 4 beta"

[2017-09-18 21:06] Ks89 opened #88 "refactoring and cleanup + tslint improved + ci improved"

[2017-09-18 22:00] #87 closed

[2017-09-18 22:00] #88 closed

[2017-09-18 22:44] Ks89 commented on #80
Branch for v4 https://github.com/Ks89/angular-modal-gallery/tree/v4

[2017-09-19 20:53] alhazmy13 opened #89 "Issue with import ModalGalleryModule"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

When i try to import  `ModalGalleryModule.forRoot()` i got this error:
`ERROR in Error: Error encountered resolving symbol values statically. Calling funct

[2017-09-19 21:07] Ks89 commented on #89
Hi. Which skeleton/template/starter are you using?
Are you using npm or yarn and which versions?

[2017-09-19 21:11] alhazmy13 commented on #89
Angular CLI

npm

[2017-09-19 21:24] Ks89 commented on #89
Could you try with my official example here https://github.com/Ks89/angular-modal-gallery/tree/master/demo/angular-cli ?

Is this issue still present also with my example?

[2017-09-19 21:41] alhazmy13 commented on #89
Weird, your example works fine, so I just stash everything on my project and then install it again.

And yeah it works fine, sorry for interrupting you.

[2017-09-19 21:41] #89 closed

[2017-09-19 21:43] Ks89 commented on #89
No problem man. I'm glad to help you

[2017-09-21 09:11] Enngage opened #91 "Thumbnail size/more options [Feature request]"
[ ] Feature request

Be able to easily specify height of thumbnails

## What is the motivation / use case for changing the behavior?

Currently I had to specify a global style with `!important` flag in order to resize the thumbnails. I was trying all various ways, but only this one seems to work.

You could potentially extend the `Image `class with the thumbnail dimensions/size or have a new confi

[2017-09-21 09:20] Ks89 commented on #91
That's a good idea. I like it. Yes it is related to #76

I schedule this issue for 4.0.0, so #80

[2017-09-21 14:36] Enngage commented on #91
Cool, thanks for the quick response :-)

[2017-09-21 14:38] Enngage opened #92 "Support configurable buttons [Feature request]"
## What is the motivation / use case for changing the behavior?

The `buttonsConfig ` could be made configurable so that you could add your own list of buttons. For example, I need some way of 'deleting' files and it would be really nice to have the delete button there. In the minimal form, the delete button could be one of the default ones.

[2017-09-21 16:44] Ks89 commented on #92
Yes, this is another interesting feature.
Probably, the best solution is to use an array of css classes defined globally in your app, so also angular-modal-gallery could use their.

For instance something like ['my-custom-delete','fa-exturl','fa-download','my-custom-close'].
Where my-custom-delete and my-custom-close are custom css classes defined somewhere by user. To achieve this, I really need

[2017-09-21 16:45] Ks89 commented on #79
Same issue here #92

[2017-09-21 16:46] Ks89 commented on #92
Same issue here #79

[2017-09-21 16:51] #84 closed

[2017-09-21 16:52] #85 closed

[2017-09-21 16:52] #70 closed

[2017-09-23 00:43] Ks89 commented on #81
Already supported here https://github.com/Ks89/angular-webpack2-starter-demo-with-angular-modal-gallery

It is working also with 3.x.x, but only on that starter.

I should create a minimal starter and put it into demo's folder.

[2017-09-24 13:51] Ks89 opened #93 "[DOC] fix wrong introduction in demo/keyboard-config"
https://ks89.github.io/angular-modal-gallery.github.io/demo/keyboard-config

wrong introduction about this demo

[2017-10-10 04:09] daylenlim opened #94 "Error: No provider for KeyboardService!"
Hi,
I'm not sure why this error keep showing on my console log when using the  angular-modal-gallery

Error: No provider for KeyboardService!

[2017-10-10 09:25] Ks89 commented on #94
Hi, please could you give more info?
For instance these versions:
- angular
- nodejs
- npm

Also, which starter/template/skeleton are you using (qdouble's starter, angualrclass, angular-cli.....)?

[2017-10-10 10:29] daylenlim commented on #94
angular 4
@angular/cli: 1.4.1
node: 6.11.2
npm: 3.10.10

[2017-10-10 10:38] Ks89 commented on #94
Is 1.4.1 the version of angular-cli? If yes, did you try to compare your config with my official demo here https://github.com/Ks89/angular-modal-gallery/tree/master/demo/angular-cli?

Also, try to clean your nod_modules folder and re-run "npm install".

[2017-10-10 15:37] daylenlim commented on #94
well, I added a providers to @NgModule in modal-gallery.module.ts
and give up the useValue set it to{}.
I know that maybe will cause some effect for keyboard control, but is fine for me : )
------------------------------------------------------------------
@NgModule({
  imports: [ CommonModule ],
  declarations: [ AngularModalGalleryComponent, UpperButtonsComponent, GalleryComponent, DIRECTIVES ],

[2017-10-10 15:46] daylenlim opened #95 "Modal-gallery In a Modal"
Is it possible to use Modal-gallery in a Modal?

I'm using the BsModalService to generate the modal.
https://valor-software.com/ngx-bootstrap/#/modals

my result as below ->

![capture](https://user-images.githubusercontent.com/7201732/31395916-86209338-ae14-11e7-9fb6-2aa727ba5f39.JPG)

my expected result is the gallery can cover the full screen,
any suggestions?

[2017-10-10 15:56] Ks89 commented on #95
This is a good question. I never thought about this scenario.

I'll schedule this for version 4.0.0 or greater.

[2017-10-10 16:22] Ks89 commented on #94
Yes, in that way you're simply bypassing a feature introduced with version 3.3.0.

I want to help you, but I can't without all information and also a minimal example on Github to test it by myself. This is possibly a bug, but it so weird that I cannot confirm it, because I cannot reproduce this issue.

If you check in my repo, I have unit testing + 3 different working example here: https://github.

[2017-10-10 18:41] Ks89 commented on #94
**If you can't share an minimal demo, for instance because you are working for a company and the source code is copyrighted**, could you share at least the structure of your app?

For instance, where are importing ModalGallery module, if in the main module/lazy module or in another place.... if his problem happens with AOT or JIT....if you are using angular universal... I mean, some information ab

[2017-10-11 02:40] daylenlim commented on #95
Thanks for your prompt reply. 👍
I'm looking forward to version 4.0.0.  :)

[2017-10-11 03:32] daylenlim commented on #94
I have been created a complete new project to replicate this issue,
the result is stills the same, Error:  No provider for KeyboardService.

below is the steps for the scenario
1.ng new [my-app]         **<-  create new angular 4 project**
2.npm install --save font-awesome
3.npm install --save hammerjs mousetrap
4.npm install --save angular-modal-gallery
5.npm install --save-dev @types/mousetrap
6

[2017-10-11 06:57] Ks89 commented on #94
Oh yes, that makes sense! I thought that was weird :)

You forgot to add .forRoot(), so KeyboardService will be never available as a service.

Please read section "Installation" here: https://ks89.github.io/angular-modal-gallery.github.io/gettingStarted

This is a common design pattern for Angular libraries.

Hope this will fix your issue.

[2017-10-11 08:32] daylenlim commented on #94
Oh yeah, It's my bad : (
anyway, thanks for your helps : )
looking forward to the version 4.0 to solve the modal issues 💯
thanks again 👍

[2017-10-11 08:39] Ks89 commented on #94
very good. Issue closed.

Yes, I will try to add it to 4.0.0, but I suppose that it will be quite difficult.
I schedule that feature with low priority because I have to add other things with very high priority.
If I won't introduce that for 4.0.0 I'll re-schedule it for 4.x.x versions

[2017-10-11 08:39] #94 closed

[2017-10-11 08:40] Ks89 opened #96 "Update FAQ with question "Error: No provider for KeyboardService!""
See https://github.com/Ks89/angular-modal-gallery/issues/94

[2017-10-11 16:38] Ks89 opened #97 "[DOC] fix wrong introduction in demo/no-infinite-sliding"
wrong table "details" here https://ks89.github.io/angular-modal-gallery.github.io/demo/no-infinite-sliding

[2017-10-11 19:33] #93 closed

[2017-10-11 19:33] #96 closed

[2017-10-11 19:33] #97 closed

[2017-10-12 20:33] Ks89 opened #98 "Rewrite both html and css to use flexbox"
Work in progress

[2017-10-12 20:34] Ks89 opened #99 "Improve accessibility with ARIA"
Work in progress

[2017-10-18 22:19] Ks89 opened #100 "[feature] Release v.4.0.0 using "Angular Package Format v4.0""
https://docs.google.com/document/d/1CZC2rcpxffTDfRDs6p1cfbmKNLA6x5O-NtkJglDaBVs/preview#

[2017-10-18 22:20] Ks89 commented on #80
New experimental branch created from v4 here: https://github.com/Ks89/angular-modal-gallery/tree/v4-experimenting-packagr

[2017-10-18 22:20] Ks89 commented on #100
Feature implemented here https://github.com/Ks89/angular-modal-gallery/tree/v4-experimenting-packagr

[2017-10-18 22:20] #100 closed

[2017-10-18 22:50] Ks89 commented on #83
Completed here https://github.com/Ks89/angular-modal-gallery/tree/v4-experimenting-packagr

[2017-10-18 22:50] #83 closed

[2017-10-18 22:56] Ks89 commented on #80
Branch https://github.com/Ks89/angular-modal-gallery/tree/v4-experimenting-packagr merged into  https://github.com/Ks89/angular-modal-gallery/tree/v4

[2017-10-22 20:57] #39 closed

[2017-10-23 19:39] Ks89 commented on #37
Fixed in v4 breanch thanks to #98

[2017-10-23 19:39] #37 closed

[2017-10-23 21:17] Ks89 commented on #98
Closed, because I implemented this feature.
I'll commit this feature soon.

[2017-10-23 21:17] #98 closed

[2017-10-23 21:17] Ks89 commented on #99
Closed, because I implemented this feature.
I'll commit this feature soon.

[2017-10-23 21:17] #99 closed

[2017-10-23 21:17] Ks89 commented on #42
Closed, because I implemented this feature.
I'll commit this feature soon.

[2017-10-23 21:17] #42 closed

[2017-11-02 22:22] maxkorz opened #101 "Doesn't work in Angular 5"
## I'm submitting a...
<pre><code>[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior
I get warnings during compilation and errors in runtime:

<img src="https://i.imgur.com/P8RdbIS.png">

## Steps to reproduce
1. Install the latest Angular CLI

[2017-11-02 23:02] Ks89 commented on #101
Mmm.. Ok I'll try tomorrow.
I'm working on a new major release build with angular 5 and it is working very well with 5.0.0. So, don't be scared ;).
If necessary, I'll refactor the existing version (3.x.x) copying the structure of the next major release to support angular 5.
I'll confirm for sure in one or two days.

[2017-11-02 23:49] Ks89 commented on #101
I confirm this bug. I'll try to fix during this weekend.

[2017-11-03 19:07] Ks89 commented on #101
I fixed this issue.
I'll release angular-modal-gallery 3.4.0 with official Angular 5 support in one or two days as promised.
I'll also release this library with official [Angular Package Format v4.0](https://docs.google.com/document/d/1CZC2rcpxffTDfRDs6p1cfbmKNLA6x5O-NtkJglDaBVs/preview) support 👍

[2017-11-03 21:02] Ks89 commented on #80
Renamed as version 5.0.0 because I have to release a new major version to add Angular 5 support to version 3.x.
To match semver specifications, I have to release it as 4.0.0, due to a breaking change for systemjs users.

[2017-11-03 21:28] Ks89 commented on #80
Angular 5 support re-scheduled for angular-modal-gallery 4.0.0

[2017-11-03 21:29] Ks89 commented on #100
Implemented also on 4.0.0 to fix Angular 5 issues

[2017-11-03 21:30] Ks89 commented on #83
Implemented also in angular-modal-gallery 4.0.0 to fix a compatibility issue with Angular 5

[2017-11-04 13:32] Ks89 commented on #101
@maxkorz 4.0.0-rc.1 with Angular 5 support is available here https://github.com/Ks89/angular-modal-gallery/releases/tag/v4.0.0-rc.1

To install run: `npm run install angular-modal-gallery@beta`

The final version will be released tomorrow.

Let me know if everything is ok with this new beta version.

thank u.

[2017-11-04 14:31] Ks89 commented on #101
I have a working implementation of 4.0.0, but there is a bug in angular-cli. I'm waiting for this https://github.com/angular/angular-cli/issues/8318

[2017-11-04 14:45] maxkorz commented on #101
@Ks89 I installed `angular-modal-gallery@beta` and I'm getting the following error on compilation:
[code]

[2017-11-04 15:20] Ks89 commented on #101
Thank u for reporting that.
Did you try to remove your node_modules, package-lock.json and all temp folders and run `npm install` again?

I saw this problem some months ago [here](https://github.com/qdouble/angular-webpack2-starter/) and the only way to fix was to use yarn. I never understood the reason.

I hope that felipesilva will help me, because I cannot release 4.0.0 with all these problems.

[2017-11-04 15:36] maxkorz commented on #101
@Ks89 oops. I got the above error with `ng serve --aot`. When I use `ng serve` I get the same errors and warning as in my first message.

Log after compilation:
[code]

I use over 20 npm modules alongside with your module, and only your module has such problems, so it has to be something specific. I'll look into it and try to help

[2017-11-04 15:59] maxkorz commented on #101
I removed my node_modules folder as you suggested and that error is gone. Now I'm getting `staticSymbol.assertNoMembers is not a function`

[2017-11-04 16:20] Ks89 commented on #101
@maxkorz ok still not perfect, but at least there aren't errors like `ERROR in Error: Error encountered resolving symbol values statically` again. I really hate that error.

I know that it is crazy, but please could you try to replace your /node_modules/angular-modal-gallery/ files and folders with the content of the zip attached?

[angular-modal-gallery-4.0.0-rc.2.zip](https://github.com/Ks89/ang

[2017-11-04 16:24] maxkorz commented on #101
@Ks89 I cloned your repo, switched branch to "develop", and executed these commands:
1. npm install
2. npm run build:lib

Then I copied files from `dist` folder to `/my-project/node_modules/angular-modal-gallery`.

And all the errors and warning have disappeared! `ng serve` works (with `--aot` too) and the plugin works perfectly.

Then I removed copied files and executed `npm i angular-modal-galle

[2017-11-04 16:27] maxkorz commented on #101
@Ks89 yes, seems like code in angular-modal-gallery-4.0.0-rc.2.zip works fine, I just tested it.

[2017-11-04 16:50] Ks89 commented on #101
Perfect, but I don't know why before wasn't working and now yes.

I'll do some other experiments.

[2017-11-04 16:53] maxkorz commented on #101
@Ks89 maybe it doesn't work because you have angular in dependencies?
https://github.com/Ks89/angular-modal-gallery/blob/develop/package.json
[code]

And when I do `npm install`, npm installs a copy of angular inside our package and that causes all the errors...?

[2017-11-04 16:56] maxkorz commented on #101
Yes, looks like it. I copied content of angular-modal-gallery-4.0.0-rc.2.zip to `/my-project/node_modules/angular-modal-gallery`, then I executed `npm install` inside that directory. After that `Error encountered resolving symbol values statically` error is back

[2017-11-04 17:03] maxkorz commented on #101
Take a look at [angular-library-seed](https://github.com/trekhleb/angular-library-seed/blob/master/package.json). Looks like everything has to be in devDependencies

[2017-11-04 17:41] Ks89 commented on #101
mmm It's possibile. I'll investigate.

When you type `npm install` the remote version will be downloaded again and the local content will be removed, so to test it again I have to compile rc.2 without dependencies but with devDependencies.

[2017-11-04 18:04] Ks89 commented on #101
Removing both devDependencies and dependencies and test it with npm link it seems working.
I'll push rc.2 in a couple of hours.

[2017-11-04 22:10] Ks89 commented on #101
@maxkorz
please try again with rc2 running `npm i --save angular-modal-gallery@experimental`

[2017-11-04 22:39] maxkorz commented on #101
@Ks89 it works. No errors or warnings.

[2017-11-04 22:40] Ks89 commented on #101
oh yes. perfect
thank you for your support. I'll push 4.0.0 final.

I'll also add your nickname to the changelog with a special thanks 👍

Issue closed

[2017-11-04 22:40] #101 closed

[2017-11-05 20:54] Ks89 opened #102 "add LICENSE and all other .md files to the release bundle"
add LICENSE and all other .md files to the release bundle

[2017-11-05 20:54] #102 closed

[2017-11-05 21:16] #48 closed

[2017-11-05 21:17] Ks89 commented on #48
closed in my local repo. Still not pushed.

[2017-11-05 22:33] Ks89 opened #103 "Performance improvements with trackById and OnPush"
Performance improvements with trackById and OnPush Strategy

[2017-11-05 22:33] #103 closed

[2017-11-13 01:25] Ks89 commented on #79
Completed. I'll release this feature in 5.0.0.
At the moment, I'm working on a private branch locally.
Please be patient.

[2017-11-13 01:25] #79 closed

[2017-11-13 01:27] Ks89 commented on #92
Completed. I'll release this feature in 5.0.0.
At the moment, I'm working on a private branch locally.
Please be patient, I'll release the first beta/alpha in one month or less.

If you want to be a beta tester, feel free to answer me here.

[2017-11-13 01:27] #92 closed

[2017-11-13 01:28] Ks89 commented on #80
Configurable buttons implemented in a private branch locally. Please, be patient.

[2017-11-13 08:01] Enngage commented on #92
Awesome! I will definitely update once this is out and see how that works. On another note - have you tested your release with Angular 5? I suppose that if you are planning on maintaining this library it would be nice to have the major versions aligned with Angular.

[2017-11-13 08:07] Ks89 commented on #92
Yes. I published angular-modal-gallery 4.x.x with the official support for Angular 5 and angular package format v4.
So, the next major with the feature requested here will be 5.x.x

[2017-11-13 21:27] Ks89 commented on #80
Server-Side-Rendering (SSR) partially implemented. I still have a non blocking issue about Mousetrap.
Also I added an official example with angular-universal.

[2017-11-13 21:28] Ks89 commented on #81
Server-Side-Rendering (SSR) partially implemented in angular-modal-gallery 5.0.0.
I still have a non blocking issue about Mousetrap.
Also I added an official example with angular-universal.

[2017-11-14 23:45] Ks89 commented on #56
angular-seed is now officially supported.

Please use angular-modal-gallery 4.0.0 or greater and check this demo project `https://github.com/Ks89/angular-seed-demo-with-angular-modal-gallery`

[2017-11-14 23:45] #56 closed

[2017-11-14 23:49] Ks89 commented on #80
angular-seed is now officially supported (it was working also with >= 4.0.0)

[2017-11-18 02:27] efirvida opened #104 "Cannot find name 'ExtendedKeyboardEvent'."
Hi, I'm having this error when building my project.

`ERROR in node_modules/angular-modal-gallery/services/keyboard.service.d.ts(15,21): error TS2304: Cannot find name 'ExtendedKeyboardEvent'.`

My system configurations is:
-> Angular 5
-> node 8.9.1
 and I installed this component via npm so I think that is the last version.

I made My own fixe by changing:
`add(onBind: (e: ExtendedKeyboardEvent,

[2017-11-18 16:36] Ks89 commented on #104
Hi,
I have some questions:
- which versions on angular-modal-gallery?
- did you add this `ModalGalleryModule.forRoot()` to your MainModule
- which version of angular-cli are you using?
- did you try to remove `package-lock.json` file and `node_modules` folder and reinstall everything with `npm install`?

[2017-11-18 16:39] Ks89 commented on #104
Also, do you have a minimal demo on github to reproduce this issue?

[2017-11-19 13:05] efirvida commented on #104
-> My angular-cli is 1.5
-> My  angular-modal-gallery is 4.0.1
-> In the main mmodule I use like this: `ModalGalleryModule.forRoot( { shortcuts: ['ctrl+a', 'ctrl+s', 'meta+s'] } )` as the documentation say
-> yes  I reinstall all my modules

can't make a simple minimal demo  i'm building a wordpress theme

by I can put my code here:

**my component:**

[code]
**my view:**

[code]

[2017-11-19 16:33] Ks89 commented on #104
Hi!
I tried to use `ModalGalleryModule.forRoot( { shortcuts: ['ctrl+a', 'ctrl+s', 'meta+s'] } )` with angular-cli 1.5 and it's working.
Please check this example https://github.com/Ks89/angular-modal-gallery/tree/master/demo/angular-cli and try to run it by yourself to see if it is working or not. If yes, try to compare your project with my official angular-cli demo.

I never saw this issue, so wi

[2017-11-23 00:34] Ks89 commented on #95
@daylenlim Hi, can I ask you a small thing?

Do you have a working example of a Modal dialog on https://plnkr.co/ with the latest beta version of ngx-bootstrap 2?

I started to work on this feature, but I need small help, because it is quite difficult.

[2017-11-23 00:38] Ks89 commented on #104
Hi @efirvida are there any news about this issue?
Did you find the solution or it is still an issue? If it is still a problem, did you try to use my demo project  https://github.com/Ks89/angular-modal-gallery/tree/master/demo/angular-cli ?

[2017-11-23 00:41] Ks89 commented on #80
I'm not dead :)
At the beginning of December I will release the first alpha version of angular-modal-gallery 5.0.0.

Also, I'll push the source code on github. At the moment, I'm working privately, because It is really experimental and I need some privacy :)

[2017-11-23 00:43] Ks89 commented on #81
I should try this solution to provide "window": https://github.com/mlent/vanilla-universal-starter/blob/master/server.js

[2017-11-24 00:05] Ks89 commented on #80
remove Observable<Image[]> as input. I decided to switch to Image[] to simplify the sourcecode (BREAKING CHANGE) implemented

[2017-11-24 00:05] Ks89 opened #105 "remove Observable<Image[]> as input. I decided to switch to Image[] to simplify the sourcecode"

[2017-11-24 00:05] #105 closed

[2017-11-29 14:13] Enngage commented on #80
Hi, you know when you are gonna release it?

[2017-11-29 14:32] Ks89 commented on #80
@Enngage
The first alpha will be released at the beginning of December.
I'll also create a plunker to test all available features.

PS: do you want to be a beta tester?
Because, apis will be different and I really need some suggestions. In this way I can change apis during alphas.
I want to define apis before the end of December.

PS: at the beginning of december, all "modal features" will be avai

[2017-11-29 19:18] Ks89 opened #106 "Update to Angular package format v5.0"

[2017-11-29 19:19] Ks89 commented on #106
scheduled for 5.0.0 alpha 1 at the beginning of December 2017

[2017-11-29 19:21] Ks89 commented on #80
Update to Angular package format v 5.0 specifications #106

https://docs.google.com/document/d/1CZC2rcpxffTDfRDs6p1cfbmKNLA6x5O-NtkJglDaBVs

Scheduled for 5.0.0 alpha-1

[2017-11-29 19:34] Ks89 commented on #95
It could be a good idea to test both ngx-bootstrap 2 and ng-bootstrap (latest releases, also if still beta versions)

If someone want to help me, please provide me two plunkr's examples with these libraries to show modal dialogs. Also, If you want to add angular-modal-gallery inside the dialogs to these examples, it will be really appreciated.

This feature might be quite difficult to implement, s

[2017-11-30 07:11] Enngage commented on #80
I'm not sure what you mean by beta testing, but I will update your library as soon as its out and will let you know any issues I encounter. My project is already on Angular 5 so there should be no problems there.

[2017-11-30 07:44] Ks89 commented on #80
Ok perfect. Thank u.

PS in all alphas I'll add all missing features (not. Production ready) and finally in betas I'll write tests and fix bugs.

[2017-12-03 23:25] Ks89 commented on #80
[5.0.0 alpha 1](https://github.com/Ks89/angular-modal-gallery/releases/tag/v5.0.0-alpha.1) released
and also
[5.0.0 alpha 2](https://github.com/Ks89/angular-modal-gallery/releases/tag/v5.0.0-alpha.2) released

There is also a plunkr example here: https://embed.plnkr.co/kzrd05/

@Enngage what do you think? Obviously, the official doc is still not available, however I created many examples here http

[2017-12-04 07:13] Enngage commented on #80
Awesome, I like the examples a lot thus far, especially the buttons which I will put into use.

I noticed an issue when you select first/last image which causes side images on that particular side to not show at all, but I suppose this is what you mean in your PS2 :-)

Additionally, from my humble testing I noticed that the margin of the right arrow does not match the one on the left. Maybe this i

[2017-12-04 19:09] Ks89 commented on #80
Yes this is exactly the PS2, I'll fix it ASAP.

<br>

Yes this is really frustrating. I'm using the viewport so there are some problems with scrollbars. I'll try to remove scrollbars when the modal gallery is open in next alphas. (Also, I'll try to remove scrolling, but I'm not sure how to implement it)
<br>

This is one of the main features that I want to rewrite. The idea is to re-design this fe

[2017-12-04 19:46] Ks89 commented on #80
Ok I found a quick and simple solution to this problem hiding scrollbars (2 lines of code :)).
I'll push alpha 3 this weekend.

[2017-12-06 13:23] vugar005 commented on #104
@Ks89
Hi. I also had this issue. Tried your solution but did not help. I edited` 'ExtendedKeyboardEvent`' in keyboard.service.d.ts to `'any' `and problem gone. But wanted you to be aware of that.
[code]
Tried below solutions but did not help.
1. Removed package-lock.json file and node_modules folder and reinstall everything with npm install
2. Changed to `ModalGalleryModule.forRoot( { shortcuts: [

[2017-12-06 17:40] Ks89 commented on #104
Hi @vugar005 do you have a runnable example?
I really don't know how to fix it without a minimal demo to reproduce this issue.

However,  please check this example https://github.com/Ks89/angular-modal-gallery/tree/master/demo/angular-cli and try to run it by yourself to see if it is working or not. If yes, try to compare your project with my official angular-cli demo.

[2017-12-06 18:15] Ks89 commented on #104
Oh wait a minute guys.
Did you install @types/mousetrap in this way: `npm install --save-dev @types/mousetrap` ?

You need both @types/hammerjs and @types/mousetrap.

[2017-12-06 18:22] vugar005 commented on #104
@Ks89
You are right I did not `install npm i --save-dev @types/hammerjs @types/mousetrap`.
Just installed `npm i --save angular-modal-gallery hammerjs mousetrap`.
It is probably because of this. Going to add it to project and inform tomorrow.

[2017-12-06 23:16] matiishyn commented on #80
hi
how can I install this new 5 beta version?

[2017-12-07 06:51] Enngage commented on #80
You can use either

`npm install angular-modal-gallery@next`

or edit existing package.json like:

`"angular-modal-gallery": "next"`

[2017-12-07 10:20] matiishyn commented on #91
I have something similar.
I'd like to use my own components as thumbnails, clicking on which should open image-gallery
![image](https://user-images.githubusercontent.com/3661065/33710297-c953d5fa-db48-11e7-8034-326b0161fb8d.png)
Using `Angular 5.1` and `angular-image-gallery 5.0.0-alpha.2`

@Ks89 if it's possible, please give me the direction where to look for it. And thanks for your great work!

[2017-12-07 12:31] Ks89 commented on #91
With 5.0.0-alpha.2 is not possibile. However I'll give you a way to use custom thumbs.

At the moment I'm writing a component to show thumbs in different ways.
Obviously this is not ready and I'll need at least a month to implement eveything.

[2017-12-08 10:46] Ks89 opened #108 "5.0.0-alpha not working on Edge (desktop), why??"
Current central image is not shown, why?

If you press f12 and you see the html element relative to the current image, all images become visible....WTF!!!!!

Why???

However, on Edge for Android is working very well. This bug is related only to the desktop version of Edge.

[2017-12-08 10:48] Ks89 commented on #80
If any of you are using Microsoft Edge, please could you try the alpha 2 on plnkr.co (https://embed.plnkr.co/kzrd05/) on that browser?

I don't know why, but I found a bug on Edge Desktop #108

[2017-12-08 18:29] efirvida commented on #104
Hi Sorry for my late response, my designers change the web design so no need to use this any more at least on the current site. But I test it again using `npm install --save-dev @types/mousetrap` and it works thanks a lot for the support

[2017-12-09 00:20] Ks89 commented on #104
Ok I close this issue.

if there are other problems, please add a comment here and I'll reopen this issue.

[2017-12-09 00:20] #104 closed

[2017-12-09 16:41] Ks89 commented on #80
Alpha 3 released with some bugfixes and improvements [HERE](https://github.com/Ks89/angular-modal-gallery/releases)

`npm install angular-modal-gallery@next`

or

`npm install angular-modal-gallery@5.0.0-alpha.3`

[2017-12-09 20:03] mlc-mlapis opened #109 "Problem to run <angular-modal-gallery> in AOT mode using SystemJS loader"
## I'm submitting a ...
<pre><code>[x] Bug report</code></pre>

## Current behavior No. 1
## Using UMD bundle `angular-modal-gallery.umd.js`
Compiling an app via Angular `ngc` compiler and running the app with SystemJS loader in AOT mode `platformBrowser().bootstrapModuleFactory(AppModuleNgFactory)` and with the following `systemjs.config.js` leads to the situation when `http://localhost:8080/node

[2017-12-09 20:19] mlc-mlapis commented on #109
I apologize ... I forgot that the configuration as following solves my situation ... just using UMD bundle `angular-modal-gallery.umd.js` together with possibility to load `angular-modal-gallery.ngfactory.js`:
[code]

[2017-12-09 20:19] #109 closed

[2017-12-09 20:36] mlc-mlapis opened #110 "Possibility to create a single bundle for SystemJS loader in AOT mode"
## I'm submitting a...
<pre><code>[x] Feature request
</code></pre>

## Current behavior
Even when possible to run in AOT mode ... explanation here https://github.com/Ks89/angular-modal-gallery/issues/109, it means that 2 files have to be loaded ... `angular-modal-gallery.umd.min.js` and `angular-modal-gallery.ngfactory.js`. It means that it is a problem to create a single bundle with all necessar

[2017-12-09 22:30] Ks89 commented on #110
Hi,
I'm sorry but I need more information.

Which versions?
- Angular (only 5.1.0 or also other versions)
- angular-modal-gallery 4.x.x or the new 5.0.0-alpha?

Are you talking about the new Angular package specifications v5.0 or 4.0?

[2017-12-09 22:40] mlc-mlapis commented on #110
Hi, let me add some additional info ...

* The latest version of Angular ... now it means 5.1.0
* The latest `angular-modal-gallery` 4.x.x ... now it means 4.0.1

I am not sure if there is a difference between Angular package specifications 5.0 and 4.0 from the point of view of the described problem. If we are talking about Angular 5.1.0 it means also Package Format 5.0.

[2017-12-09 23:22] Ks89 commented on #110
Oh wait, are you talking about running SystemJS with AOT?
If yes, do you have a working example about that? I never used SystemJS in this way. I have some examples for AOT but only with webpack and angular-cli.

[2017-12-10 00:24] mlc-mlapis commented on #110
Yes, SystemJS with AOT app. I am not sure if there is a possibility to create a plunker demo of it. Would be enough for you a simple GitHub repo with it ... so you will have to clone it and run?

[2017-12-10 11:44] Ks89 commented on #110
Yes, please, give a link to a minimal Github repo to test this.

[2017-12-10 14:13] mlc-mlapis commented on #110
I prepared the demo already. It contains all versions: JIT, AOT and BUNDLED AOT.

It is on GithHub here: https://github.com/mlc-mlapis/demo-angular-modal-gallery

README describes how to work with it. I hope that it'll be working for you and you can shortly find out how to enhance <angular-modal-gallery> to allow creating of a single bundle for it.

[2017-12-11 00:54] Ks89 commented on #110
Ok thank u 👍 .
I will try and I'll update this issue. Please be patient

[2017-12-12 01:39] Ks89 commented on #76
Implemented in angular-modal-gallery 5.0.0 (still in alpha).

The stable release will be available probably in February.

However, I'll release this feature with angular-modal-gallery 5.0.0-alpha.4 scheduled for the end of December 2017.

Issue closed. For news/updates or to talk about bugs related to this feature, please refer to the general issue for 5.0.0 here: https://github.com/Ks89/angular-m

[2017-12-12 01:39] #76 closed

[2017-12-12 17:28] Ks89 commented on #106
Issue re-opened because I have to think how to support both versions of Angular.
Probably with two major releases (5.0.0 and 6.0.0, equals, but with different metadata)

[2017-12-13 19:38] pavilionweb opened #111 "Attach to Body, or as high in the DOM as possible"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[X] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

The overlay gets added inside the gallery component, but there's some other components that are rendered on top of the overlay, in particular flex based co

[2017-12-13 22:05] Ks89 commented on #111
I never though about this, but It could be a good idea.
What are you trying to say is that I should attach the css class with semi-transparent background directly to the body tag of the document instead of a <div>?

[2017-12-13 22:11] Ks89 commented on #110
I confirm this behaviour, but please give me more time because I have many things to do at the same time and I don't have enough time right now, because I want to try to understand how you achieved this result.

However it seems related to the packaging system and not to the library itself. However I'll investigate further as soon as possibile.

[2017-12-13 22:56] mlc-mlapis commented on #110
@Ks89 ... sure, I am patient enough, ... 😄 .

What is the strange thing for me is that why `angular-modal-gallery.js` is not compiled and `angular-modal-gallery.ngfactory.js` is ... in comparison to other libs ... as I showed on PrimeNG component example ...

Which solution are you using for packaging of your lib?

[2017-12-13 23:35] Ks89 commented on #110
I'm using ng-packagr (the current stable version of angular-modal-gallery is built with version 1.5.0-rc.1).

If you want to help me, feel free to contribute to the project.

[2017-12-13 23:53] mlc-mlapis commented on #110
@Ks89 ... `ng-packagr ` sounds good. I'll try a super simple example first to confirm principle.

[2017-12-15 00:45] Ks89 commented on #49
Implemented and it will be released with the next alpha of angualr-modal-gallery 5.0.0 scheduled at the end of December 2017

[2017-12-15 00:45] #49 closed

[2017-12-15 00:55] Ks89 commented on #91
Implemented and it will be released at the end of December with angular-modal-gallery 5.0.0 alpha 4.

It will be a basic implementation to add custom images specifying some properties like: tag to use to show the image (`<img>` or `<a>`), size, and other properties to enable 'image pointer' feature.
As always, I'll be very open about API (name, properties and so on).

PS: I think that I should cha

[2017-12-15 00:55] #91 closed

[2017-12-16 22:58] mlc-mlapis commented on #110
Ks89 ... after deeper understanding how `ng-packagr` works and re-reading the spec of Angular Module Format 5.0 I have to say that there is probably nothing what you can improve. Look at README or try updated repo on https://github.com/mlc-mlapis/demo-angular-modal-gallery.

[2017-12-16 23:13] Ks89 commented on #110
Ok. Thank u for the explanation. Feel free to close the issue.

However, why are you using SystemJs instead of angular-cli or a pure Webpack config?

[2017-12-17 00:32] mlc-mlapis commented on #110
@Ks89 ... using SystemJS is a combination of historic evolution of our projects and a necessity of a shared bundle (which would contain tree-shake-able resources from Angular lib, RxJS, ...) for several standalone apps. Now CLI is not able to do that ... each application is a monolithic app (all necessary resources are included -> duplicates across those apps).

With SystemJS we can use a browser

[2017-12-17 00:34] #110 closed

[2017-12-17 21:20] Ks89 commented on #91
[code]

implemented on the v4 branch 👍

[2017-12-19 23:20] #108 closed

[2017-12-24 22:03] Ks89 commented on #80
Alpha 4 released with plain gallery [HERE](https://github.com/Ks89/angular-modal-gallery/releases/tag/v5.0.0-alpha.4)

`npm install angular-modal-gallery@next`

or

`npm install angular-modal-gallery@5.0.0-alpha.4`

[Click here for the official plnkr.co demo](https://embed.plnkr.co/kzrd05/)

**Feel tree to comment this new version and APIs. In alpha stage I can change eveything, so If you have an

[2017-12-26 17:29] Ks89 opened #112 "Cannot delete images in >= 5.0.0-alpha.4"
Cannot delete images in angular-modal-gallery >= 5.0.0-alpha.4

[2017-12-26 18:04] Ks89 commented on #112
False alarm.
This is not a bug but a documentation/example issue.
When you need to delete images you must listen for

[code]

So I have to update examples, in particular `example B18`

[2017-12-26 18:04] #112 closed

[2017-12-28 03:17] wenzirang commented on #111
I have this problem, too

[2017-12-28 11:57] Ks89 commented on #111
Please could you explain me why this is a problem? Could you give me a scenario (if you want also on jsbin or plnkr.co)?

I tried to work on this, but changing the current behaviour created lot of issues.

I need a solution that shows a background over everything (also over things with really high zindex, as navbar in bootstrap 4).

[2017-12-30 11:40] Ks89 opened #113 "Create a new logo in svg [searching for contributions]"
I'm not a designer and I'm not able to do it alone.

Be creative and help me creating a cool svg to represent with a logo "angular-modal-gallery".

👍

[2018-01-08 19:32] odahcam commented on #80
Do you have any plans on supporting touch like https://codepen.io/odahcam/pen/WdZbev ?

[2018-01-08 19:58] Ks89 commented on #80
@odahcam Hi! thank you for the answer.

Touch is supported on mobile devices. You can swipe between images. It's not intended to be used also on desktops with a sort of drag effect, but it is a pure 'swipe'. You can try using chrome dev tools in smartphone's view.

Also, I'll add animation with `@angular/animations` to create swipe effects... in future 5.x.x releases. At the moment, I added simple

[2018-01-10 10:57] Iamguy84 opened #114 "buttonsConfig Icon change"
Hi,

I want to change the icon e.g fa fa-close because I am using Primeng without font awesome.
Is It possible?
I am waiting for your response.

Thanks

[2018-01-10 17:53] Ks89 commented on #114
Hi.

Right now with version 4.x.x is not possibile, however the latest public alpha of 5.0.0 has this feature.

The release date is about the end of February.

If you want,  you can check the related issue with a working demo on plunker

[2018-01-11 04:32] Iamguy84 commented on #114
Thank you for quick response.
I cannot wait for next final 5.0.0 version. :)

[2018-01-11 17:42] Ks89 commented on #114
Thank for your interest.

I close this issue because it's already implemented in 5.0.0 alpha.

I suggest you to subscribe to all notifications of issue #80 to be always up to date

[2018-01-11 17:42] #114 closed

[2018-01-12 11:48] sander1693 opened #115 "Need some help"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

## Expected behavior

Hello. I'd like to ask for a feature that I don't know if the package has it already.
I'm trying to include the gallery in a Datatabl

[2018-01-12 12:35] sander1693 commented on #115
Maybe the component could have an option that opens directly the first image of the images array.

[2018-01-12 18:34] Ks89 commented on #115
@sander1693  thank u for you interest.
Which version of angular-modal-gallery are you using? 4.x.x or 5.0.0-alpha.x?

I don't know if I understood your problem, but I wanna try to answer.

You said that:
[code]
This is clearly a wrong behaviour/setup/config. You can show a N number one thumbnails and clicking on it you can show directly modal gallery. Obviously N can be equals to 1.

Check this ex

[2018-01-14 00:47] Ks89 commented on #80
Hi guys!
Alpha 5 released [HERE](https://github.com/Ks89/angular-modal-gallery/releases/tag/v5.0.0-alpha.5)

`npm install angular-modal-gallery@next`

or

`npm install angular-modal-gallery@5.0.0-alpha.5`

**[Click here for the official plnkr.co demo](https://embed.plnkr.co/kzrd05/)**

**Feel tree to comment this new version and APIs. In alpha stage I can change eveything, so If you have an idea,

[2018-01-15 08:22] sander1693 commented on #115
@Ks89 thanks for your answer.
I'm using 4.0.1 version.

I think I wanted a special behaviour, maybe this package isn't made for this. I want that when the user clics an image (this image isn't a thumbnail made by the angular-modal-gallery), a function that creates the images array is called and the gallery opens right to the first image.

I think this could be a good behaviour or feature request.

[2018-01-15 12:31] Enngage commented on #80
Hey,

Thank you, I'm migrating to new version :-)

One thing I noticed is that if the images have different dimensions (i.e. one is 'taller' than another), the right / left arrows at the screen edges are placed incorrectly. For example, it may happen that if you don't move your mouse and keep clicking on the arrow, at some point the arrow will move up or down and you will close the modal (if enabl

[2018-01-15 13:23] Enngage commented on #80
Another thing - 'ButtonType.EXTURL' button will open the image in the same window. Can you possibly use 'target="_blank"' instead? Either automatically as its very common or at least as a property that can be set?

[2018-01-15 14:17] Enngage commented on #80
And another one (sorry for spamming here) - I have a custom delete button and it works fine, but the thing is that I'm removing the from the collection passed as `modalImages` in the `onButtonBeforeHook` event which does not actually remove the currently opened modal image. I suppose there should be some way of force refreshing the library for such scenario.

[2018-01-15 20:40] Ks89 commented on #80
Damn. Please could you same images to reproduce this behaviour?

Good idea. It's very easy to implement, so I can add it to the next version.

This is something that I should really explain very well before the final release because It's not easy to understand. Probably, this is cause because you are removing data from the array without re-initializing it. Check example B18 here https://plnkr.co/e

[2018-01-15 21:01] Ks89 commented on #115
@sander1693

This is something that I don't understand. Why?
You can build a custom thumb gallery with a single image and clicking on it the modal gallery will appear (in a 'modal way')

What do you mean?
Would you see an inline gallery behind the thumb or a modal gallery (full screen like now)?
Feel free to upload sketches with paint or something else to explain this idea.

This is a very good id

[2018-01-15 22:00] Ks89 opened #116 "configure exturl button to navigate to an external url also in a new tab, instead of only in the current one"
as requested by @Enngage here #80

[2018-01-15 22:01] Ks89 commented on #116
implemented

[2018-01-15 22:01] #116 closed

[2018-01-15 22:03] Ks89 commented on #80
@Enngage  Add  optional 'target="_blank"' to navigate button #116 implemented in v4 branch and ready to release it with the next version 👍

[2018-01-16 00:43] Ks89 opened #117 "add other loading spinner to 5.x.x versions [ISSUE COMPLETED - release in 5.5.0]"

[2018-01-16 00:44] Ks89 opened #118 "Improve public documentation website using Lighthouse to 5.x.x versions"

[2018-01-16 00:45] Ks89 opened #119 "Image preview strategies to 5.x.x versions"
Add image preview strategies (central, standard, something else...)

[2018-01-16 08:34] sander1693 commented on #115
@Ks89 sorry if I don't explain myself very wel ;).

From the begining I thought the images array won't be created until user clicks on a product image because there are lots of products with some images, and by this way, memory would be overload needlessly.
The problem is there are many products with many photos and info, and I think show every thumbnail would overload the datatable. Maybe the ima

[2018-01-21 02:31] Ks89 commented on #80
@Enngage I tried with images of different sizes and I confirm that behaviour.
I thought that the problem was the horizontal alignment, but it's the opposite, because they move vertically. I have to investigate...

[2018-01-22 17:48] yarozar opened #120 "suggestion: add loading indicator icon"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior
When you browse between images in gallery using arrows or even during initial load of full image there is no indication when that image is loading. This can

[2018-01-22 17:52] #120 closed

[2018-01-22 19:09] Ks89 commented on #120
Yes I confirm that it's already implemented in 5.0.0 alpha

[2018-01-22 19:10] Ks89 commented on #117
This is a simple addition to the existing loading indicators.
In 5.0.0 alpha I added 3 or 4 of these indicators, but in future releases I want to add more stuff.

So this issue is here to remember to add other icons in next 5.x.x releases.

[2018-01-23 23:44] Ks89 commented on #80
@Enngage

This weekend I'll release the last alpha with fixes for:
-  this issue:

- this:

And lot of other fixes and better unit testing.

[2018-01-24 22:21] Ks89 commented on #80
Ok, I decided to release Beta 1 today 👍

To install:

`npm install angular-modal-gallery@next`

or

`npm install angular-modal-gallery@5.0.0-alpha.5`

Official live demo: https://github.com/Ks89/angular-modal-gallery/releases/tag/v5.0.0-beta.1

Changelog here: https://github.com/Ks89/angular-modal-gallery/releases/tag/v5.0.0-beta.1

Roadmap: Now I have to work on some betas and RCs to fix bugs, ad

[2018-01-25 13:42] vugar005 commented on #80
@Ks89  Please update to font-awesome v5.

[2018-01-25 16:15] Ks89 commented on #80
Hi @vugar005 font-awesome is not mandatory in Angular modal gallery 5. You can use custom css classes for upper buttons if you want.
PS: fortawesome is working to add angular support. At the moment is not officially available.

[2018-01-26 06:25] vugar005 commented on #80
@Ks89  the problem is when using font awesome v5 with the plugin. The icons not showing. the
exclamation is shown instead.

[2018-01-26 17:21] Ks89 commented on #80
Mmm,  no wait, I didn't understand what you are saying. Could you explain?

[2018-01-27 08:06] Ashokkumar1995 opened #121 "Close Modal is not working in angular prod mode but works fine in normal ng serve"
The close functionality is not working in ng build--prod but works in normal ng serve ?
what might be the issue and how to solve this ?

[2018-01-27 10:05] Ks89 commented on #121
Please fill the template with versions and so on.
Also, how are you closing modal gallery? With keyboard? With mouse click? Clicking on the background?

Are there errors in console?

Without all info it's impossibile to understand the problem.

Also, if you could share a runnable example to reproduce this problem will be very useful.

Did you try to use my official demos in this repo? Are they wor

[2018-01-29 21:30] ckelkar commented on #91
Hello, I am trying to change thumbnail size by overriding .ng-thumb class as
.ng-thumb{
  height: 100px;
  float: left;
  display: block;
  cursor: pointer;
  margin: 4px 4px 0 0;
}.

I have created .scss file as shown.

.more and .list-img are getting applied but not the above one. Can you please tell me what is the issue?

[2018-01-30 00:33] Ks89 commented on #91
Hi.
Which version of angular modal gallery are you using?

[2018-01-30 20:58] ckelkar commented on #91
Hi,
I am using angular-modal-gallery 5.6.0

[2018-01-30 21:27] Ks89 commented on #91
I'm sorry, but 5.6.0 doesn't exist. :)

The last stable version is 4.0.1 and the last beta version is 5.0.0-beta.1

[2018-01-30 21:33] ckelkar commented on #91
Sorry, my bad. Manual error. I checked my package.json. it's 4.0.1.

[2018-01-30 21:40] Ks89 commented on #91
This feature is not supported in angular-modal-gallery 4.x.x.
At the end of February, I'll release 5.0.0 final with this, please be patient. However, it's already available in beta 1 (APIs are quite stable, so you can use it right now).
If you want a preview, check here: https://stackblitz.com/edit/angular-modal-gallery-v5 (see example 'Z1').

[2018-01-31 09:45] Enngage opened #122 "Support 'fullTemplateTypeCheck'"
Hi,

Currently compiling your library with [fullTemplateTypeCheck ](https://angular.io/guide/aot-compiler#fulltemplatetypecheck)angular option (introduced very recently) fails with just a few minor issues.

Could you take a look at those? Currently I can't use the option because of these errors.

[2018-01-31 10:04] Ks89 commented on #122
Ok. I'll check tomorrow.

Are talking about version 5.0.0 beta?

[2018-01-31 10:05] Enngage commented on #122
Yup. Cool :)

[2018-01-31 13:19] bghanchi commented on #104
"npm i --save angular-modal-gallery hammerjs mousetrap "work

[2018-02-01 00:44] Ks89 commented on #122
I tried but I cannot reproduce this issue.
Are you really really sure that you are using 5.0.0-beta.1? If yes, can you try to use my official example with angular-cli here https://github.com/Ks89/angular-modal-gallery/tree/v4/examples/angular-cli?

[2018-02-01 00:44] Ks89 commented on #121
Are there any news about that? it's still an issue?

[2018-02-01 00:45] Ks89 commented on #115
Are there any news about that? It's still an issue?

[2018-02-01 07:19] Enngage commented on #122
After enabling the template check, you need to build the library using
--aot attribute for it to take effect.

Instead of `ng build` use `ng build --aot` and you should see the errors in
console.

On 1 February 2018 at 01:44, Stefano Cappa <notifications@github.com> wrote:

[2018-02-01 18:17] Ashokkumar1995 commented on #121
Hi, I will post on that issue on Saturday, sry for the delay, yeah I will
update you on Saturday, Thanks

On Feb 1, 2018 6:14 AM, "Stefano Cappa" <notifications@github.com> wrote:

[2018-02-01 21:01] Ks89 commented on #122
@Enngage I cannot reproduce this issue (with --aot).

Please could you get this example https://github.com/Ks89/angular-modal-gallery/tree/v4/examples/angular-cli (install all deps with npm i) and try to build it by yourself? I really don't know what can I do to understand the problem. I suggest to try to compare it with your code.

PS: could you share your log with errors?

[2018-02-10 21:10] Ks89 commented on #80
Beta 2 in finally available:

To install:

npm install angular-modal-gallery@beta

or

npm install angular-modal-gallery@5.0.0-beta.2

I replaced plnkr with stackblitz, so:
Official live demo: https://stackblitz.com/edit/angular-modal-gallery-v5

Changelog here: https://github.com/Ks89/angular-modal-gallery/releases/tag/v5.0.0-beta.2

[2018-02-13 23:24] Ks89 commented on #121
Hi @Ashokkumar1995 do you have any updates? If you fixed this, feel free to close it. Otherwise, please share more info. Thanks.

[2018-02-14 16:27] Ashokkumar1995 commented on #121
Hi sry for the late reply.
i think the issue is because of some angular packages versions mismatch.
currently i am not using that, i went for slick carousel, anyway Thanks.

On Wed, Feb 14, 2018 at 4:54 AM, Stefano Cappa <notifications@github.com>
wrote:

--
EVERY CHAMPION WAS ONCE A CONTENDER
WHO REFUSED TO GIVE UP
-STALLONE

[2018-02-14 16:52] Ks89 commented on #121
Ok, issue closed. Feel free to update this issue

[2018-02-14 16:52] #121 closed

[2018-02-15 11:34] Ashokkumar1995 commented on #121
Yes, Thanks

On Feb 14, 2018 10:22 PM, "Stefano Cappa" <notifications@github.com> wrote:

[2018-02-16 15:41] Enngage commented on #122
I'm seeing following errors with the latest beta-2:

![err](https://user-images.githubusercontent.com/7137351/36315510-35fcf552-1338-11e8-8bfe-3027345a46b1.png)

This seems to be coming from the library so I don't think my code is the problem.

[2018-02-16 16:20] Ks89 commented on #122
mmm, probably yes, it is 'strictNullChecks'. I'll check this weekend

[2018-02-17 14:35] Ks89 commented on #122
@Enngage you are right, this happens when you enable 'strictNullChecks'.

However the typescript's error is so ambiguous that It's difficult to understand the problem (this issue https://github.com/Microsoft/TypeScript/issues/8274  should be really closed :)). I need a couple of days to fix this. When I'm ready to close this issue, I'll release RC1.
Thank you for the hint of strictNullChecks.

PS:

[2018-02-17 17:09] Ks89 commented on #122
Fixed. Simpler than I expected.

I'll release RC1 this evening.

[2018-02-17 17:09] #122 closed

[2018-02-17 17:25] Ks89 commented on #122
RC1 released right now 👍

[2018-02-17 17:31] Ks89 commented on #80
RC 1 in finally available:

To install:

npm install angular-modal-gallery@beta

or

npm install angular-modal-gallery@5.0.0-rc.1

Official live demo: https://stackblitz.com/edit/angular-modal-gallery-v5

Changelog here: https://github.com/Ks89/angular-modal-gallery/releases/tag/v5.0.0-rc.1

PS: I'm working on the official documentation for 5.0.0. This weekend (probably tomorrow) I'll release the

[2018-02-17 23:57] Ks89 commented on #80
Website for versions >= 5.x.x created with an initial documentation (still not complete and with lot of missing things, so please be careful. I need at least an entire week to add all important stuff, so please be patient).

At the moment, this website il build with angular-modal-gallery 4 :) and all demos are removed. I updated "getting started", "features" and "migration guide" (all these pages

[2018-02-18 00:32] Ks89 commented on #115
temporary closed. Waiting for updates

[2018-02-18 00:32] #115 closed

[2018-02-18 00:33] Ks89 commented on #120
fixed in rc.1 and released

[2018-02-20 16:02] Enngage commented on #122
Thanks :) I can confirm it works fine now.  As for the CompilerOptions - that seems to be for now.

[2018-02-23 23:46] Ks89 commented on #80
RC 2 with a very small changelog (I temporary removed refresh button because it wasn't working as expected)

To install:

npm install angular-modal-gallery@beta

or

npm install angular-modal-gallery@5.0.0-rc.2

Official live demo: https://stackblitz.com/edit/angular-modal-gallery-v5

Changelog here: https://github.com/Ks89/angular-modal-gallery/releases/tag/v5.0.0-rc.2

The final version is still

[2018-02-23 23:47] #118 closed

[2018-02-23 23:50] Ks89 commented on #81
I decided to release it in version 5.0.0, however angular-universal still doesn't support 'window' object on server side, so I cannot add the full official support.

I you want to try, you'll see that the library itself is working, but your server's log will be polluted with stupid error messages.

When Angular team will add 'window' object on server-side, this library will work automatically with

[2018-02-23 23:50] #81 closed

[2018-02-24 18:38] Ks89 commented on #80
I'm sorry guys for this unscheduled release, but I found a bug and I had to fix it very quickly.

RC 3 with a very small changelog (fix full description)

To install:

npm install angular-modal-gallery@beta

or

npm install angular-modal-gallery@5.0.0-rc.3

Official live demo: https://stackblitz.com/edit/angular-modal-gallery-v5

Changelog here: https://github.com/Ks89/angular-modal-gallery/releas

[2018-02-25 17:49] Ks89 commented on #80
First full draft of the doc website with demos and other fixes.

https://ks89.github.io/angular-modal-gallery-2018.github.io/

Next week I'll release the final version as expected.

[2018-02-27 17:28] ckelkar commented on #80
![image](https://user-images.githubusercontent.com/15060815/36743826-d63a7df2-1bb0-11e8-8900-b456e4ed554c.png)

Hello @Ks89 ,
Is there any way I can add html and css for styling description mentioned in the image? Actually I am getting some data regarding each image from API and I want to show it using bullet points.

Also I am using <ks-modal-gallery>. Is this previous version? Do I need to upgra

[2018-02-27 20:08] Ks89 opened #123 "Image descriptions with html inside"
feature request from #80

[2018-02-27 20:10] Ks89 commented on #80
Hi @ckelkar.
At the moment you can change css as you want (because it's simply css :)), however html is not supported, but it could be a good feature for future releases (5.x.x because I don't expect braking changes to do that). I opened an issue with this feature.

The version that you are using is correct and it's a beta/rc. Today I'll release the stable version.

[2018-02-27 20:14] Ks89 commented on #106
This issue is scheduled for next releases, because to support package format v5 I have to remove support for Angular 4. This is not acceptable right now, so I decided to wait a little bit.
However, try to understand that I cannot support Angular 4 forever, so please UPDATE UPDATE UPDATE!!!!

[2018-02-27 22:48] Ks89 commented on #80
5.0.x is out after months of work

![image](https://user-images.githubusercontent.com/6057207/36759724-a6a0151c-1c18-11e8-8f55-d44f532e8da1.png)

[2018-02-27 22:48] #80 closed

[2018-02-27 22:49] ckelkar commented on #80
Hi @Ks89 ,
Thank you. Also I am struggling with adding  { length: 10, wrap: true } to Custom gallery layout. I have seen class structure. Only LineLayout, GridLayout has that feature. How should I add it to the AdvancedLAyout?

[2018-02-27 23:13] Ks89 commented on #80
if you want a custom layout you have to build everything by yourself. Check my official example (on stackblitz or also inside my repo in examples folder) or also in the doc.

So limit is like a ngFor to only some of the input images.
wrap is simply the flex-wrap property https://www.w3schools.com/cssref/css3_pr_flex-wrap.asp

So you have to build a flexbox container with inside a ngFor to iterate

[2018-03-01 00:30] Ks89 commented on #123
already available as 5.1.0-beta.1

[2018-03-01 00:33] Ks89 commented on #80
Hi @ckelkar I implemented HTML description support as you asked previously in 5.0.0-beta.1
https://github.com/Ks89/angular-modal-gallery/releases/tag/v5.1.0-beta.1

If you are interested, please add a comment or activate notification to this issue https://github.com/Ks89/angular-modal-gallery/issues/123, so I can ignore this one (#80) forever, because there are many people here and I don't want to

[2018-03-01 18:59] ckelkar commented on #123
@Ks89 ,
I really appreciate your help

[2018-03-01 19:48] Ks89 commented on #123
No problem man. This is an open source project for me but also for all of you, so contributions and feature requests are really important to improve the library.

[2018-03-01 22:47] Ks89 opened #124 "Official doc on a private server instead of github pages (donations are well accepted)"
I'm really angry about Github pages, so I'm thinking to push the official doc website on a private server.

Pros:
- faster and no problem with deploy
- multiple version of the doc with a prefix in url like: 'www.example.com/angular-modal-gallery/v5.0.1/features'. In this way I can leave also older versions
- It's good to have a server not only for static assets but also with nodejs, so server side

[2018-03-01 22:57] Ks89 commented on #124
If someone want to contribute, this is the link to donate https://www.paypal.me/stefanocappa

[2018-03-02 16:56] istrdev opened #125 "window on server side undefined , hence Mousetrap is not defined"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

when running universal example
https://github.com/Ks89/angular-modal-gallery/tree/master/examples/universal
npm run build:ssr && npm run serve:ssr
getting

[2018-03-02 18:19] Ks89 commented on #125
Hi, thank you for reporting this, but it's well known.

This happens because I'm using mousetrap, a very powerful js library to catch keyboard actions. This lib is built with the 'window' object like most of the js library before es6.

At the moment, I cannot do anything because this is an issue of angular universal (or a missing feature). Google is working on this so we should wait and hope for a

[2018-03-02 18:22] Ks89 commented on #125
Oh I didn't see you solution above. Did you try it? Is it really working?

[2018-03-04 22:00] Ks89 commented on #125
Ok, I found a workaround based on your solution.
I'll release it ASAP

[2018-03-04 22:34] Ks89 commented on #123
5.1.0 released

[2018-03-04 22:34] #123 closed

[2018-03-04 23:03] Ks89 commented on #125
Released as 5.2.0-beta.1.

Could you try if it is working now?

To install use 'npm i --save angular-modal-gallery@5.2.0-beta.1'

[2018-03-05 18:22] istrdev commented on #125
Seems to work,
need more time to fully test.
Thank you for quick resolution.

[2018-03-07 11:19] Hesesses opened #126 "Angular 4 app is broken on IE11"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

App is broken

## Expected behavior

"everything works"

## Minimal reproduction of the problem with instructions

I'm using Angular 4 and angular-modal-ga

[2018-03-07 12:20] Ks89 commented on #126
Hi thank u for your report, I'll check this evening.

Did you try if my official examples are working on ie11?

Did you include all necessary polyfills?

[2018-03-07 12:30] Hesesses commented on #126
All examples here: https://ks89.github.io/angular-modal-gallery-2018.github.io/demo seems to work on ie11.

Polyfills? :)

[2018-03-07 13:10] Ks89 commented on #126
Yes in your polyfills,  did you include for instance web animations? Check my polyfills in one of my official examples.

It's only an idea. I'll check in a better way this evening, however if my website is working I suppose that it isn't a bug.

[2018-03-07 13:29] Hesesses commented on #126
[code]
Installed those, but still having the same error. On your examples, everything seems to work.
Can it be something with Angular 4 as your examples is Angular 5?

[2018-03-07 15:19] Ks89 commented on #126
Try with webpack example. It's the only one with angular 4. Yes, all the others are with angular 5.

[2018-03-07 15:29] matiishyn commented on #92
This is how we add custom btn:
[code]
But how do you handle click on it?

[2018-03-07 17:28] Ks89 commented on #92
You are right, I forgot to add this thing to both examples and doc website.

I'll update this weekend.

You should use onBefore Hook and after hook, because a click on custom buttons executes these two methods one after the other without to do anything in the middle.

[2018-03-07 19:17] Ks89 commented on #126
@Hesesses I tried with my `examples/webpack` with Angular 4 and I confirm that it's working without problems.

I suggest to compare your code and my webpack example. If you have something to share (a small demo to reproduce the issue), I'll happy to help you.

[2018-03-08 00:08] Ks89 commented on #125
Hi!
@istrdev when you'll confirm I'll push 5.2.0 as a stable release

[2018-03-08 10:31] Hesesses commented on #126
I had few imports from "angular-modal-gallery/angular-modal-gallery" instead of "angular-modal-gallery"
I blame PhpStorm  🙈

Thank you very much for creating this awesome plugin 👍

[2018-03-08 10:31] #126 closed

[2018-03-08 22:45] Ks89 commented on #125
I pushed 5.2.0. If you find a bug, please add a comment to this issue

[2018-03-09 09:31] pieterdegraeuwe opened #127 "trigger navigation after adding new image"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[X? ] Feature request
[ ] Documentation issue or request
[ X] Support request
</code></pre>

## Current behavior

I'm using the ks-modal-gallery with a buttonsConfig which contains a customButton.
Once clicked I do some logic and add a new image to the images array

[2018-03-09 17:20] Ks89 commented on #127
Interesting question.
I'll think something, because at the moment I don't have a good idea to implement it.

I'll update this issue in some days with an update. Please be patient.

[2018-03-10 22:04] Ks89 commented on #125
@istrdev I close this issue, because I already released 5.2.0. If you have problems or bugs, add a comment here.

[2018-03-11 13:46] Ks89 opened #128 "add optional font-awesome 5 in all examples [ISSUE COMPLETED - release in 5.3.0]"
This library already support font-awesome 5, if you use these two npmjs packages:
- `@fortawesome/fontawesome`
- `@fortawesome/fontawesome-free-solid`

You have to import icons in your main.ts or main module.ts and use it as css classes.

In 5.3.0 I'll update all examples with font-awesome 5 (removing version 4.7.0). Obviously, font-awesome is not mandatory for this library, because I'm using cust

[2018-03-11 22:45] Ks89 commented on #106
scheduled for 6.0.0 removing Angular 4 support

[2018-03-11 22:48] Ks89 commented on #127
I made some experiments and It's not so simple to implement. However, I'll try to add it in one of the next 5.x.x releases.

I'll update this issue when I'll have a beta of this feature, because It will require some beta testing to create a stable version.

[2018-03-14 13:58] mrVers commented on #125
I am still facing this issue. I am was following [this universal example](https://github.com/Angular-RU/angular-universal-starter) which uses "domino" that creates a server-side DOM and a global "window" object with it.
But even with a global window object i get `ReferenceError: Mousetrap is not defined` error.

[2018-03-14 14:34] Ks89 commented on #125
did you try my official universal example?

[2018-03-16 10:58] mrVers commented on #125
Your example assumes there is no window object `if (typeof window !== 'undefined')`, while my example uses a virtual window created by "domino" and so your server-side validation does not work for me.

This is the logic in my server.ts is as follows:
`// global window & document handling
const domino = require('domino');
// Our index.html we'll use as our template
const template = readFileSync(joi

[2018-03-16 17:49] Ks89 commented on #125
@mrVers I'll check this weekend.

SSR has many missing features so I suppose that can add your workaround without problems.

Obviously I'll remove everything when Google will release a serious version of angular-universal :)

[2018-03-16 19:02] Ks89 commented on #125
@mrVers did you add this
[code]
on server-side or inside angular-modal-gallery source code?

[2018-03-17 17:13] mrVers commented on #125
I've added it on the server-side `server.ts`. As far as I know, Angular's `platform-server` ships with "Domino" as a dependency, so I guess a virtual DOM is on angular's roadmap for this kind of issue in future releases of Universal.

[2018-03-17 17:38] Ks89 commented on #125
Ahh Ok ok, yes on server side is right to do some stuff like that. It's a workaround, but it's like most of all others required to run SSR without errors. angular-universal is still too young and without a full window implementation on server-side is quite useless/boring.

At the moment I cannot do anything inside the lib to prevent this type of issues.
The only workaround that is working right no

[2018-03-18 07:13] xaiyeon opened #129 "I can't find responsive images?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ x] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

N/A

## Expected behavior

I was reading the documentation and it's nice, but hard to follow if you don't start with the examples and demos. However, is t

[2018-03-18 12:21] Ks89 commented on #129
Plain gallery is made to show small images and clicking on one of their you'll see the modal image in full screen. Why would you show a plain image in a responsive way filling the screen horizontally?

However, as in my official demos, for instance on stackblitz, you can draw your custom plain gallery iterating over images with an ngfor using your css.

[2018-03-18 14:13] Ks89 commented on #129
PS: do you have any suggestions to improve the doc?
Feel free to propose your ideas, don't be shy :)

[2018-03-18 14:44] Ks89 commented on #46
I'll reopen this issue only if someone will request it

[2018-03-18 14:44] #46 closed

[2018-03-18 14:47] Ks89 commented on #125
Issue closed, however when @mrVers will confirm this workaround:

[code]

I'll update the doc

[2018-03-18 14:47] #125 closed

[2018-03-18 14:54] Ks89 commented on #128
released in 5.3.0-beta.1

[2018-03-18 14:54] #128 closed

[2018-03-18 20:54] dt-83 opened #130 "CurrentImage height"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[x] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

Hi.

Great module!
I would like to ask you something since I'm not able to find it in the docs.

As I understand  from:
angular-modal-gallery/libs/angular-

[2018-03-19 01:42] xaiyeon commented on #129
Hi, first, thanks very much for making this library! It's for the mobile part when the images get smaller, that's why, it just bothers me that the photo is small and doesn't fill up space. I looked at stackblitz for example Z4, Z5, and Z6, is it possible to add a style class to it? When you define the Layout:

something like:
`layout: new LineLayout({ width: 'flex', height: 'auto' }, { length: 4,

[2018-03-19 07:24] Ks89 commented on #130
Hi.
I decided to use 80 to fully support all browsers (in particular Ie11). It was a good value to prevent issues, so I don't recommend to change it if you want to support also edge and ie11. However, it should be possibile to change it. I'll check this evening because I don't have my laptop right now :)

[2018-03-19 10:14] tobi-or-not-tobi opened #131 "Connect URL to individual image"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior
Great library, with great support for extensibility! Everything works OK.

## Expected behavior
I would however like to open an image based on the URL. I us

[2018-03-19 19:53] Ks89 commented on #131
Hi, thank u.

What you are asking is something really application specific.
This library is built to provide a plain gallery with clickable previews to open the modal gallery.
So I think that it's wrong to add this behaviour, because it's not general purpose.

However, your idea as an interesting point. Let me explain it a little bit.

The first 3 points are really specific and you can achieve tha

[2018-03-19 20:03] Ks89 commented on #130
I tried and it's working.

I added this to my main styles.scss

[code]

Obviously change values as you prefer.
However, be careful on IE11 and Edge. If you want to support all browsers, test all of them, also resizing the window both vertically and horizontally.

[2018-03-19 20:17] Ks89 commented on #129
[code]
Yes this is a good idea, I'll add it in my schedule for next releases.

[code]
I don't understand this, are you saying to add a link to the related demo for that particular feature? If yes, it's also a good idea (some examples are cross-features, so It will be dificult, but I can try it)

[code]

Do you have an idea of how to improve it or do you want to contribute proposing a new layout? I

[2018-03-19 20:22] Ks89 commented on #127
I decided to increase the priority because requested also by another user.
I'll publish alphas and betas for this feature because it's really challenging.
PS: I hope to release this in April

[2018-03-19 23:04] tobi-or-not-tobi commented on #131
Hi,
thanks for the prompt and clear reply. I totally agree that most of this is app specific, and I'd like angular-modal-gallery to stay focussed on beging a generic library.
As said, I've used your library last year using <modal-gallery [imagePointer]="theImageIndex">. I indeed only used it to use the modal, and I was able to pass the index of the image to the imagePointer input.

I was looking a

[2018-03-19 23:52] Ks89 commented on #131
modalOpenerByIndex is used only for specific use case related to plain gallery with advancedLayout. You cannot use it without a plain gallery. It's very limited to that particular scenario.

The only way to open modal image without plain gallery is to build a dedicate injectable service to trigger the modal gallery to open itself to a specific index.

[2018-03-21 17:28] dt-83 commented on #130
Hi,

It works for me too.
Thanks.

It sucks though that it only works in the main style file.
I prefer to keep styles related to a particular component in the local component .css

[2018-03-24 00:44] Ks89 commented on #130
I schedule this issue to investigate and try to find a way to add an input param to choose this value.

[2018-03-24 07:55] tobi-or-not-tobi opened #132 "Ability to configure description styling"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Feature request
[] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior
The image descriptions comes with default styling (i.e. background: rgba(0, 0, 0, 0.5). The styling doesn't fit my design. I can override it with turning Vie

[2018-03-24 08:04] tobi-or-not-tobi opened #133 "Margin below the description"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior
The description element on top of the image in the modal shows a few pixels off from the bottom of the image. The number of pixels depends on the typographi

[2018-03-24 08:05] tobi-or-not-tobi commented on #132
FYI if #133 is solved, this is less of an issue, however still preferred.

[2018-03-24 08:08] tobi-or-not-tobi commented on #133
I've been able to fix this in project by adding the following to my style.scss:

[code]

[2018-03-24 12:45] Ks89 commented on #132
This is a good idea, it was already in my schedule, but I'm happy for the interest about this, so I'll try to improve it in next releases.

[2018-03-24 12:47] Ks89 commented on #133
Mmm, interesting. I'll check this issue ASAP.

[2018-03-24 16:57] Ks89 commented on #124
I never used firebase hosting, but it seems like github pages with better performances and rollback.
Ok, probably it's better than github pages :) Thank you for the hint!

However, I'm trying to use also server side rendering with nodejs, in this way I can test SSR support of angular-modal-gallery in production.

[2018-03-24 21:41] tobi-or-not-tobi commented on #124
You can actually use firebase for SSR as well, see for example https://codeburst.io/next-js-on-cloud-functions-for-firebase-with-firebase-hosting-7911465298f2. I would however not go down that route as its relatively complicated and not so reusable for others.

Why not use firebase for static hosting of the demo site and build/prove the SSR locally and provide the nodejs script in the repo so that

[2018-03-25 17:38] Ks89 commented on #133
I fixed this issue, however I cannot release it because for some users this could be a breaking change.
So, I'll add other options to description object to be able to change color and set margins.
By default, I'll leave 5px, so I can release it as minor release 5.x.x, instead of 6.x.x.

Give some days to add the other input properties.

[2018-03-25 17:44] Ks89 commented on #124
Documentation must be on a server without anything to build. It must be something simple e quick to use.

I cannot use nextjs, but I need all stuff by Angular to add SSR. That procedure is so complicated also for react and I cannot imagine how can it be with Angular. SSR is difficult also on a private server where I can do everything I want.

PS: I tried some of that websites, like Heroku, but wit

[2018-03-25 17:45] Ks89 commented on #124
Ah ok, only Openshift and Heroku are really free. No, I cannot use these to give a good experience to users. I need something more powerful with less limits.

[2018-03-25 17:56] tobi-or-not-tobi commented on #124
Oh, i posted the wrong link for angular/ssr/firebase. The right one is https://medium.com/@hamedbaatour/angular-5-server-side-rendering-with-firebase-step-by-step-guide-ec5f4d8ef38b.
Anyway, you know best what to use.

[2018-03-25 18:11] Ks89 commented on #124
Ok, I'll investigate this solution. Thank u.

[2018-03-25 23:48] Ks89 commented on #133
I updated Description interface with these values (with defaults):

[code]

which other params do you need?

[2018-03-26 07:56] tobi-or-not-tobi commented on #133
To begin with, as soon as you add the display:block to the img element, you make a change to the positioning of the description element. I think its ok, just want to make sure you're aware.

Regarding the properties, it would be nice to pass a style class, so that the style rules can be freely defined inside css. I'm not sure however if we can bypass the encapsulation with this setup.

If you use

[2018-03-27 23:39] Ks89 commented on #133
I released this feature as 5.4.0-beta.1

If you want to try it, use `npm i --save angular-modal-gallery@beta`

[2018-03-27 23:41] Ks89 commented on #132
same as #133. I implemented also this feature as part of #133, so I close this one.

Released as 5.4.0-beta.1. Final version coming soon.

[2018-03-27 23:41] #132 closed

[2018-03-28 05:21] tobi-or-not-tobi commented on #132
Works fine. I just initially expected that I'd be able to override a single property, but once I'm adding, lets say only margin, also bgColor and textColor need to be set. No big deal.

If user want to set the title on the top, they need a bit more. With the following style rules I'm able to move it up: That would require a position property and height.

[code]

[2018-03-28 06:25] Ks89 commented on #132
All properties should be optional. Probably it's a. Bug. I'll check it.

You are right, also top, bottom, right, left width, height are useful.
OK, I'll try it.

[2018-03-28 06:38] Ks89 commented on #133
' believe no one likes to default to 5px from bottom.' this could be wrong because you are the only one that asked me to fix this. Probably, many people could consider this as a feature (thy are crazy, ok, but it's possibile).
Since I'm compliant with semver2 standard, when I change something I have to release it as breaking change. This is clearly a bug, I'm agreed with you, but it's not so dange

[2018-03-28 06:40] Ks89 commented on #133
Obviously this will be different for version 6. In that occasion I could change margins as I prefer.

PS maybe a warning in the doc website could be useful.

[2018-03-28 06:48] tobi-or-not-tobi commented on #132
Cool, don't forget position :)

[2018-03-28 20:23] Ks89 commented on #132
beta2 released with all other params.

PS: be careful to change width property, because it's not so simple (probably I should remove it to prevent issues)

If you have other suggestions feel free to speech :)

[2018-03-28 21:56] Ks89 commented on #127
I have an experimental implementation. I'll release it as alpha/beta at the beginning of April.

Before, I have to release 5.4.0 (in beta right now) and another small version 5.5.0 already scheduled.

So this feature will be released as 5.6.0 in April.

[2018-03-29 12:37] asarapas commented on #104
Has same issue. Can confirm, that adding @types/hammerjs @types/mousetrap as devDependencies got rid of error

[2018-03-29 23:52] Ks89 commented on #106
released in @ks89/angular-modal-gallery@6.0.0-alpha.1

[2018-03-29 23:52] #106 closed

[2018-03-31 13:08] Ks89 commented on #133
@tobi-or-not-tobi What do you think? Can I release it as stable?

I changed APIs in beta2 removing 'margin' sub-object to flat everything.

All params are optional, but obviously, color, background e bottomMargin have default values to prevent breaking changes.

[2018-04-02 11:53] tobi-or-not-tobi commented on #133
LGTM, I just would have expect that the default values would only be turned of when they got overridden. I f I now add an empty style attribute, the background color is gone. No issue at all, just not what i expected.

[2018-04-02 16:16] Ks89 commented on #133
Please could add an example of input and what do you expect as result? Because I don't undestand.

[2018-04-02 23:17] Ks89 commented on #133
Ohh yes, wait. I understood.

Damn, this is a bug. I'll fix it

[2018-04-02 23:37] Ks89 commented on #133
Ok, I released 5.4.0-beta.3. Now it should be ok.

When you confirm that everything is ok, I'll release it as final.

[2018-04-03 05:29] tobi-or-not-tobi commented on #133
Yes, now it works as expected. Thanks!

[2018-04-03 09:47] mrVers commented on #125
@Ks89 yeah, it works on my end 👍

[2018-04-03 18:40] Ks89 commented on #133
released as 5.4.0 final

[2018-04-03 18:40] #133 closed

[2018-04-03 18:43] Ks89 commented on #117
pushed in develop branch and scheduled for 5.5.0 in 5/7 days.

Issue closed, because already implemented and ready to release.

[2018-04-03 18:43] #117 closed

[2018-04-04 06:56] tobi-or-not-tobi commented on #131
I've been evaluating #1237 and I'm afraid it's not going to provide what I need. I believe I'd need the following inputs on the ks-modal-gallery component:

1. An active-modal-image that would open the given image in the modal. I would use this input to open modals based on URLs (once the URL would be loaded, i'd evaluate the URL, filter the image ID/index and feed it to this input). Ideally the i

[2018-04-04 19:36] Ks89 commented on #131
Exactly. Events are already available as `@Output()...`, for instance with (show), and others available in documentation website, also with an example.

`provide that to the component input (1)`: NO. As already discussed, this is not possibile, or at least, in a reliable way. The only way to do that in a 'simple' and reliable way is to use a service. I want to use the '...' because, it's simple fr

[2018-04-04 19:39] Ks89 commented on #131
PS: If you want to test the service, I'll release public alpha/betas. Next week will be full fot me and so It will be very difficult to work on it. I want to release the first experimental release about 15 of April.

[2018-04-08 15:54] mlc-mlapis opened #134 "Support for RxJS 6"
## I'm submitting ... <code>[x] Feature request</code>

## Current behavior
Using RxJS 5.5.x imports like `import { Observable } from 'rxjs/Observable';` are used.

## Expected behavior
RxJS 6 brings simplified imports like `import { Observable } from 'rxjs';` ... so it is necessary to import all classes from directly `rxjs`.

## What is the motivation / use case for changing the behavior?
The pro

[2018-04-08 16:02] Ks89 commented on #134
I'm not using rxjs in the sourcecode of the lib right now. I'll add it in the next releases, but for now there aren't imports of rxjs.

Did you find a specific problem?
rxjs 6 is backward compatibile with angular 5?

[2018-04-08 16:07] mlc-mlapis commented on #134
@Ks89 ... if you look at `angular-modal-gallery.umd.js` you can see that there is `require('rxjs/Observable')` for example.

There is `rxjs-compat` package for backward complete compatibility ... but in reality for the most of app just updating imports is 99% of the work to switch to RxJS 6.

[2018-04-08 16:42] mlc-mlapis commented on #134
@Ks89 ... ah, sorry. You are right. It was really version 4.0.1.

[2018-04-08 16:42] #134 closed

[2018-04-08 16:42] Ks89 commented on #134
Ok perfect, no problem.

[2018-04-09 16:34] iss936 opened #135 "Disable click events on the current image"
Is it possible to disable event show,  when there is a click on the currentImage ?
I do not want go to the next image when i click to the currentImage.

thks.

[2018-04-09 16:43] Ks89 commented on #135
Interesting use case that I didn't implement.
I'll schedule for next releases

[2018-04-12 07:04] pieterdegraeuwe opened #136 "when only one photo, the photo is not centered"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior
When there is only one photo, the photo is not centered, but left aligned.

## Expected behavior
Photo should be centered

## Minimal reproduction of the p

[2018-04-16 11:26] momopaper opened #137 "overlay issue in material template"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[x] Support request
</code></pre>

## Current behavior

I am having an overlay issue over here, i think picture speak faster and clearer

![1](https://user-images.githubusercontent.com/6683119/38806014-87b00c68-

[2018-04-16 18:48] Ks89 commented on #137
Hi, that is happening because probably material is using a very high z-index.
Do you have a minimal working example on github or a plunkr/stackblitz live demo?

[2018-04-17 07:47] rezo-evodion commented on #135
I am interested too, I don't want to go to next image when I click  👍

[2018-04-17 21:04] Ks89 commented on #135
Ok, scheduled for 5.7.0, because I have to release a very challenging feature in 5.6.0 and I need some weeks. Please, be patient

[2018-04-17 21:07] Ks89 commented on #136
Probably, I won't fix it this week, because I'm really busy, but I'll try asap. Please be patient.

[2018-04-18 20:33] Ks89 commented on #137
Ok, I removed node_modules, now it's working.

This issue is not easy to fix, because the problem isn't z-index. However, It's similar to #95.
Modal gallery is built to fill the entire viewport. In your situation, part of the viewport contains sidebars.

I need to investigate to find a different approach. I cannot promise a quick solution, because I have to release a new major release to do this.

[2018-04-19 15:14] rezo-evodion opened #138 "Download Images in new Tab"
Hi,
First of all thank you, because you saved a lot of time and effort for me.
I implemented the gallery in my Html:

<ks-modal-gallery [modalImages]="getModalImages()"
                    [downloadable]="true"
                    [buttonsConfig]="ButtonsConfigSimple"
                    [plainGalleryConfig]="customPlainGalleryColumnConfig">
  </ks-modal-gallery>

 customPlainGalleryColumnConfig:

[2018-04-19 18:51] Ks89 commented on #138
@rezo-evodion check the official demo for this feature here https://ks89.github.io/angular-modal-gallery-2018.github.io/demo/buttons-exturl-newtab

[2018-04-19 18:53] Ks89 commented on #138
Hi, what does it mean "tap"? Are you talking about browser's tabs.

Please fill the template with all versions, browsers and so on. I cannot help without all information.

[2018-04-23 07:18] rezo-evodion commented on #138
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[x] Support request
</code></pre>

## Current behavior

I created a component and I provided an array of image and I set the Downloadable to true

 <ks-modal-gallery [modalImages]="getModalImages()"

[2018-04-23 08:48] momopaper commented on #137
thanks for the help and sorry for no reply as i was not around my pc recently >< , yup i was trying to mess with z-index but no luck, it is ok to take your time :D

[2018-04-23 09:13] Ks89 commented on #137
Yes z-index is not enough. It's more complicated.

[2018-04-25 00:51] Ks89 commented on #131
update: I'll release a beta version of gallery.service in a couple of days.

[2018-04-25 00:52] Ks89 commented on #127
update: I'll release a beta version of gallery.service to implement this feature in a couple of days.
I'll also add an example with this feature already implemented.

[2018-04-25 00:54] Ks89 commented on #136
Sorry for the delay, but I was really busy.
I'll try to fix it this weekend or next week.

[2018-04-27 18:27] Ks89 commented on #136
Thank you for your patience.
Issue fixed in 5.5.1.

Feel free to re-open if you think that it's not ok.

[2018-04-27 18:27] #136 closed

[2018-04-27 18:42] Ks89 commented on #138
Sorry for the delay, but I was really busy.

Yes, if you click 'download' it automatically download the image. This library won't navigate to the image, but it downloads the image automatically.
So I don't understand why It should open the image in another tab, since it is capable to download it directly without navigating to it.

Please could you explain what are you trying to achieve? Because "o

[2018-04-27 18:59] Ks89 commented on #127
@pieterdegraeuwe

Finally after many commits it's time for the first beta release of gallery service.
https://github.com/Ks89/angular-modal-gallery/releases

To try the beta: `npm i --save angular-modal-gallery@beta`

I'm still working on the new doc, so if you want to try please check to the official examples in this repo (folder /examples).

In particular I suggest to look for example `B23 - (id

[2018-04-27 19:02] Ks89 commented on #131
Good news man @tobi-or-not-tobi

Finally after many commits it's time for the first beta release of gallery service.
https://github.com/Ks89/angular-modal-gallery/releases

To try the beta: `npm i --save angular-modal-gallery@beta`

I'm still working on the new doc, so if you want to try please check to the official examples in this repo (folder /examples).

Try to click on the new button at the b

[2018-05-01 13:16] Ks89 commented on #131
5.6.0 with gallery.service officially released.

Feel free to re-open if you have problems.

[2018-05-01 13:16] #131 closed

[2018-05-01 13:16] Ks89 commented on #127
5.6.0 with gallery.service officially released.

Feel free to re-open if you have problems.

[2018-05-01 13:16] #127 closed

[2018-05-01 13:18] Ks89 commented on #135
Implemented in branch 'develop'.
I'll merge it with master this weekend and I'll publish 5.7.0 as stable release.

[2018-05-01 13:18] #135 closed

[2018-05-01 16:32] NathofGod opened #139 "Can't get the gallery to work!!"
I've been using this library for over a year now. After upgrading everything broke and now I'm struggling to get the gallery to display correctly with the default settings. It looks nothing like the demo and I've done nothing but put it in

<img width="973" alt="image" src="https://user-images.githubusercontent.com/1936466/39482105-a4e5f39e-4d65-11e8-93ce-20f3c4bdee79.png">

[2018-05-01 16:55] Ks89 commented on #139
Hi, I'm sorry for the problems, but please, fill the issue template with versions and so on.
Otherwise, It's impossibile to help you.

Which version of the library are you using (try to remove node modules and package-lock and reinstall all your deps again)?
Which angular angular-cli version?
Do you have a runnable example to reproduce this issue?

PS what does it mean "after upgrading"? From whic

[2018-05-02 21:02] pieterdegraeuwe commented on #136
however this issue is already closed (my fault, sorry for that), I confirm that this issue is indeed fixed !
Thanks for the excellent work !

[2018-05-02 21:06] Ks89 commented on #136
@pieterdegraeuwe
thank u and I'm happy that you are happy :).

Feel free to both express your ideas and to contribute.

[2018-05-02 21:18] Ks89 opened #140 "6.0.0 Features/Roadmap [COMING THIS WEEK!!!] - MAJOR RELEASE"
As you probably know I'm working on angular-modal-gallery 6.0.0. It's already in alpha.

**Don't be scared, this will be a smaller major release than 5.0.0**. I want to update some APIs and update the build system to release the library on npm.

### When I'll release the final of version 6.0.0, you'll have to use:
### `npm i --save @ks89/angular-modal-gallery`

**Also, change all imports from `'an

[2018-05-03 07:43] rezo-evodion commented on #138
Sorry also for the delay.
when I click on Download button in your demo it opens the image in new Browser Tap, so I do not know if this is a bug or a Feature?
when I implement the Gallery in our Project and click on Download Button it redirects the page to image Url.

[2018-05-06 23:13] Ks89 commented on #140
Are you ready for summer?

![angular-modal-gallery image](https://github.com/Ks89/angular-modal-gallery/blob/nwrlnx-090-ngpackagr2/amg6.png?raw=true)

Version 6.0.0 will be red/orange :)

[2018-05-06 23:16] Ks89 commented on #140
PS: the first beta version is quite ready and also the documentation website (I'll create another repo with a different url - more info soon)

[2018-05-10 22:08] shotyme opened #141 "Lazy loading image URLs from the backend"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[X ] Support request
</code></pre>

## Current behavior
I have a backend which provides me the image URLs for each specific detail page where I use the gallery. So I am not able to provide the image URLs in the

[2018-05-10 22:42] Ks89 commented on #141
Hi,
please don't use "this.images.push(img);". When you want to modify images, you have to re-assign the array to the images input because I'm using OnPush strategy to improve performance.
So, don't do this.images.push, but instead:

[code]

otherwise change detection won't be triggered.

[2018-05-10 22:52] #141 closed

[2018-05-13 22:30] Ks89 commented on #140
Beta 1 released `npm i --save @ks89/angular-modal-gallery@latest`

Doc website released [HERE](https://ks89.github.io/angular-modal-gallery-2018-v6.github.io/)

[2018-05-20 10:34] Enngage commented on #140
Hi, I've moved to 6.x. May I offer some features?

- Gallery service should have a method for closing the modal gallery programatically. We are deleting images on the go and they 'stuck' displayed if they were focused before.
- The preview/next thumbnails displayed when modal gallery is active are 'moving' depending on the aspect ratio of images. This means that if someone would try moving to next

[2018-05-20 11:26] Ks89 commented on #140
good idea

Mmm, yes because I'm using space-between as justify-content property of flex-box. I should try a different technique, but this will require more time to test and I have to reschedule 6.0.0 release in June.

I don't know how to reproduce it. Also, I didn't change anything from 5 to 6.0.0 about this feature. Which OS and browsers are you using (please write also full browsers versions)? D

[2018-05-20 12:12] Enngage commented on #140
Yeah, I tried several browsers as well as forcingly clearing cache. I tested this right before upgrading and worked fine, the only thing I changed was that I:

- installed `@ks89/angular-modal-gallery` and removed the old package
- changed imports to `@ks89/angular-modal-gallery`
- changed config to use ` [currentImageConfig]="{downloadable: true}`

I also tried using the exact same example you ha

[2018-05-20 12:40] Enngage commented on #140
I wonder how the update for the[ SO answer](https://stackoverflow.com/questions/17527713/force-browser-to-download-image-files-on-click/17527821) here is relevant:

I do have images stored on different server so that would explain why it doesn't work. Still, it doesn't really explain why it worked just minutes before I upgraded :-)

[2018-05-20 12:58] Ks89 commented on #140
Interesting

So are you using images outside your server (not in assets folder of your angular app)? Are you using http or https?

[2018-05-21 17:07] Ks89 commented on #139
Is this still an issue?
If yes please write more information to be able to help you, if not, please close it.

[2018-05-21 17:08] Ks89 commented on #138
Hi @rezo-evodion, are you using images from an external server and not from your assets folder?

[2018-05-21 20:39] mlc-mlapis opened #142 "Support loading "mousetrap" in AOT mode when using SystemJS"
## I'm submitting a ...
<pre><code>[x] Bug report</code></pre>

## Current behavior
Actual loading of "mousetrap" is done using the following code because of the comment in the code:
**To prevent issues with angular-universal on server-side** ...
[code]
which means that `require('mousetrap')` is called outside of the header of CommonJS module:
[code]
and it leads to a run-time error `require is no

[2018-05-22 06:18] Ks89 commented on #142
I cannot change it otherwise ssr won't work. Obviously I have to support all users but I particolar everyone that are using official tools like angular cli.

When Google will release a real support for ssr with window object on server side I'll really happy to remove it (it's a work in progress feature and I hope for a release with angular 7...i hope). Now I can't, because without this workaround

[2018-05-22 08:53] mlc-mlapis commented on #142
@Ks89 ... hmm, that's sad. Isn't possible to use `ModalGalleryModule.forRoot()` to pass an option that would said `it's running only in a browser`? Like: `ModalGalleryModule.forRoot({ssr: false})`

[2018-05-22 18:36] Ks89 commented on #142
I'll investigate. Please be patient because this week I'm really busy. I'll update you ASAP.

[2018-05-24 07:51] rezo-evodion commented on #138
Hello,
yes, I am providing the image list from Server and not from assets folder.

[2018-05-24 08:22] Ks89 commented on #138
Ok I'll try next week, please be patient because this week I'm really busy.

[2018-05-25 11:40] hn6pot opened #143 "Hi, I'm searching a way to rotate images inside the gallery."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions

My official live example on StackBlitz (based on https://stackblitz.com/edi

[2018-05-27 15:59] Ks89 commented on #140
I pushed some commits with close method inside modal gallery service. I'll release it this weekend.

Now I'll start to try to reproduce the download issue.

[2018-05-27 16:02] Ks89 commented on #143
this is not a feature of this library, however It's interesting and I'll to experiment a little bit to find a way to implement it.

However I cannot promise anything. If I'll implement this, I'll do for the next major release in October (probably)

[2018-05-27 16:04] Ks89 commented on #119
Closed because it seems not an interesting feature

[2018-05-27 16:04] #119 closed

[2018-05-27 16:05] Ks89 commented on #52
It seems ok, so I decided to close it

[2018-05-27 16:05] #52 closed

[2018-05-27 16:08] Ks89 commented on #129
I saved on a private to list some info about this issues, so I can close it right now.

Thanks

[2018-05-27 16:08] #129 closed

[2018-05-27 16:08] Ks89 commented on #139
Close because without feedbacks

[2018-05-27 16:08] #139 closed

[2018-05-27 16:17] Ks89 commented on #142
I don't know how to implement this, because right now I must use require to support SSR with angular-cli and universal.
If I add an else with import inside It isn't working, because I cannot use import conditionally (not supported by Angular itself).

So the only way is to use require.

Also, If I try to add another parameter to forRoot, this will be available inside the service in the constructor

[2018-05-27 16:18] Ks89 commented on #142
PS: If you have other ideas, feel free to share their

[2018-05-27 16:39] Ks89 commented on #138
Ok, I confirm the issue, however, as explained in #140 it's a new browser's restriction introduced in Spring 2018 (look here https://stackoverflow.com/a/17527821 and also here https://developers.google.com/web/updates/2018/02/chrome-65-deprecations#block_cross-origin_wzxhzdk5a_download) and probably I can't do anything to fix it.

You should move your images inside your server.

I tried with diffe

[2018-05-27 16:39] #138 closed

[2018-05-27 16:41] Ks89 commented on #140
@Enngage I confirm the problem about image download.
I link this issue here #138 because It's better to merge all ideas into a single discussion.

The question is: "Is there an alternative to download static files automatically on client side [without to call a server with a specific logic] without this limitation when using files from other websites?"

[2018-05-27 19:05] Enngage commented on #140
Thanks, I'll try the new version :-) I'm not so sure, but I will probably remove the download button alltogether and only open new tab with the image

[2018-05-27 22:18] mlc-mlapis commented on #142
@Ks89 ... hm, dynamic `import() expressions` has been working since TS 2.4 but only for `--module esnext` or `--module commonjs` and not for `--module es2015` because that module format uses only static import declarations and they have to be only at the top-level of a file. So you are right that the only way is to use `require`.

What I don't understand is:

because you can call `require('mousetr

[2018-05-28 06:12] Ks89 commented on #142
Mmm I'll try it

[2018-05-28 20:51] Ks89 commented on #142
You are right. I moved the require inside the constructor in this way:
[code]
It seems to be ok.

Also, I added a new property into forRoot, however this is a huge workaround and I don't want to support this adding it to the documentation website. I decided to add it only to help you and It should be considered as a 'private' and 'undocumented' api that will be removed in upcoming versions (when G

[2018-05-28 23:15] mlc-mlapis commented on #142
@Ks89 ... super. Thanks a lot for your effort! I appreciate it. I'll help you with the testing in any future version.

[2018-06-03 09:51] Ks89 commented on #142
Beta2 released https://github.com/Ks89/angular-modal-gallery/releases/tag/v.6.0.0-beta.2

PS: please check the doc website https://ks89.github.io/angular-modal-gallery-2018-v6.github.io/migration site because SystemJS users must add the additional param to forRoot

If the website is still not updated change forRoot() with forRoot({ shortcuts: ['ctrl+s', 'meta+s'], disableSsrWorkaround: true })

[2018-06-03 09:52] Ks89 commented on #140
Beta2 released with close method + experimental impl to fix alignment of side previews

Please leave your feedback @Enngage

[2018-06-03 10:11] Enngage commented on #140
Hey, just tried it and looks way better, thanks!

[2018-06-03 11:16] Ks89 commented on #140
did you try also on IE, Edge and if you can also on iOS? I'm a little bit scared about compatibility.

[2018-06-03 11:43] Enngage commented on #140
It works fine in Edge. I don't really care for IE / Edge and possibly
safari as if people are using these browsers, its their fault. Angular in
general doesn't really work well in IE and Edge by itself.

On 3 June 2018 at 13:16, Stefano Cappa <notifications@github.com> wrote:

[2018-06-03 12:50] Ks89 commented on #140
:) yes but I have to support those XD

Ok, I'll check on iOS and if everything is ok, I'll release the final next week.

[2018-06-05 23:23] Ks89 commented on #140
Doc updated with the doc for closeGallery method and some small fixes

https://ks89.github.io/angular-modal-gallery-2018-v6.github.io/

[2018-06-07 15:27] mlc-mlapis commented on #142
@Ks89 ... Hi, I finally did the tests with v.6.0.0-beta.2. All is working fine in JIT and AOT.

* I used Angular 6.0.4.
* Finally I had to move to Node 10.2.1 and use only NPM.
* YARN has some problems with running with Node  10.2.1.

[2018-06-07 18:28] Ks89 commented on #142
Ok perfect.

I'll do some tests and this weekend I'll release it as final version.

Thank u

Issue closed

[2018-06-07 18:28] #142 closed

[2018-06-10 14:11] Ks89 commented on #140
6.0.0 final released

stackblitz
https://angular-modal-gallery-v6.stackblitz.io

docs: https://ks89.github.io/angular-modal-gallery-2018-v6.github.io/

[2018-06-10 14:11] #140 closed

[2018-06-10 15:10] Ks89 commented on #140
ps: please let me know if everything is ok, so I'll deprecate all previous versions on npmjs

[2018-06-16 15:28] Ks89 opened #144 "7.0.0 Features/Roadmap - HUGE MAJOR RELEASE [STABLE RELEASE IS COMING!!!]"
From this summer I'm working on angular-modal-gallery 7.0.0

Expected changes **7.0.0**

- [x] add carousel features **(big feature)**
- [x] add carousel's previews features **(big feature)**
- [x] **gallery ids must be unique across the whole application**, so if you are using the library in multiple components of the same application, you must use different numeric ids (I suggest 0,1,2,3, 100,10

[2018-06-16 15:29] Ks89 commented on #144
link #143

[2018-06-17 13:48] dbayonacode commented on #141
Thanks for the great library. I think the solution of this issue should be part of the documentation.

[2018-06-17 14:36] Ks89 commented on #141
@dbayonacode thank u. yes it's a good idea. I'll schedule it for the next major release 7.0.0
#144

[2018-06-21 20:17] circy opened #145 "Gallery does not work in Microsoft Edge"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

Click on image image thumbnail to show gallery (e.g. in the live demo https://stackblitz.com/edit/angular-modal-gallery-v5/), but image is not shown in ga

[2018-06-23 16:54] SebastianFreund opened #146 "Set image-name for download"
Hey,
is it possible to specify the name to use when downloading the image? I do base64 strings as src for the images instead of urls. The name of the downloaded files is then very cryptic (it seems to be the end of the src string) and usually without the correct file extension.

[2018-06-23 20:36] Ks89 commented on #146
Not at the moment, I'm using the name of the image from its path to create the filename.
However there are some limitation about image download in modern browsers, so I'm still thinking and searching a better approach. Right now, I don't want to add other features about this topic, because probably I'll rewrite it from scratch.

If you have a good idea to download images automatically also from di

[2018-06-24 16:52] Ks89 commented on #145
Hi, I fixed this issue in 6.0.2, it still seems a bug of Edge, but I've found a different approach to prevent this bug.

Please could you try the beta version and confirm if it ok before the official release?

Install with: `npm i --save @ks89/angular-modal-gallery@6.0.2-beta.1`

When you will confirm I'll publish the final release of 6.0.2.

Thank u for the support.

[2018-06-24 18:08] circy commented on #145
Hello, great. Now it works wonderfully. Thank you :)

[2018-06-24 18:30] Ks89 commented on #145
Perfect, release as 6.0.2

[2018-06-24 18:30] #145 closed

[2018-06-25 18:32] SebastianFreund commented on #146
Maybe you can add a option to use the 'title' or 'alt' as name for the downloaded image?

[2018-06-25 21:16] Ks89 commented on #146
Yes this is an option, but I scheduled to investigate about better alternatives for image download in 7.0.0.
I'll update you when I'll find something new.

[2018-06-28 13:59] rezo-evodion opened #147 "Base64 as Src for Images"
Hello,
The Gallery was working good but now we received Request that for Security reason, we want to use base64 as src of Images, How can I modify the Gallery to meet the new Request
## I'm submitting a...

<pre><code>
[x] Support request
</code></pre>

## Current behavior

I have a list of images "I get the src of Images from the server ", we want to use Base64.

## Expected behavior

the Gallery

[2018-06-28 19:02] Ks89 commented on #147
Did you try to set base64 as url of the image in Image interface?

[2018-06-29 07:35] rezo-evodion commented on #147
No, I will try today and write here again

[2018-07-02 15:15] rezo-evodion commented on #147
I tried to assign base64 directly to img :
      this.imgSrc.transform(attachment.url).subscribe(data => {
          galleryMappedImages.push(
            new Image(modalImageIndex, {
              img: data.changingThisBreaksApplicationSecurity.toString(),
              description: attachment.description,
              title: attachment.name,
              extUrl: attachment.url
            }));

[2018-07-02 21:33] Ks89 commented on #147
Hi, you should re-assign the array instead of pushing new data to it to prevent issues with OnPush Strategy.

However, this is not the point. Could you give an example of a base64 image?
Are you using something like this? https://stackoverflow.com/questions/8499633/how-to-display-base64-images-in-html

Because, In the library I'm simply passing the img to the src attribute of an <img> tag, so It s

[2018-07-03 15:13] andrei8788 commented on #80
Hello. At me at loading component slowly are loaded pictures!
![src](https://user-images.githubusercontent.com/32166538/42227877-38457716-7eeb-11e8-88d5-61ffc8291ac7.jpg)
Their location is set by:
plainGalleryGrid: PlainGalleryConfig = {
    strategy: PlainGalleryStrategy.GRID,
    layout: new GridLayout({ width: '319px', height: '210px' }, { length: 4, wrap: true })
  };
in the template:
    <ks-

[2018-07-03 16:54] Ks89 commented on #80
Hi @andrei8788 the browser requests images automatically to display they, so it will be loaded asynchronously on demand.

Also i suggest to decrease the size of images if possible, using smaller thumbs and bigger modal images.

However, are you searching a way to preload images?

[2018-07-03 17:12] andrei8788 commented on #80
I would use any method to avoid this. Can I add some animation? I'll try to reduce the size of the pictures, but I would like the pictures to be in good quality. I have been trying to solve the problem more than one day and nothing happens. For any of your advice I will be very grateful!

[2018-07-03 18:06] Ks89 commented on #80
Ok, first use thumbs with a small images (not highly simply compressed, to prevent quality loss) using lower resolutions. From your screen it seems that there are many images on the same screen, so it could be useless to have images with 4k resolution and so on.

For the modal image use another one, with higher resolution.

I didn't think about animations in plain gallery, but it could be a good i

[2018-07-03 18:15] andrei8788 commented on #80
Thank you for your help! It will be nice to see the updated version, but the current one I like too!

[2018-07-03 19:03] andrei8788 commented on #80
Сеть:
![s](https://user-images.githubusercontent.com/32166538/42239537-e5163978-7f0c-11e8-907a-25e6f425d0a8.JPG)

[2018-07-03 21:10] fenderjair commented on #137
@momopaper were you able to fix this issue ? I'm facing it the same problem in my project.

[2018-07-03 21:39] andrei8788 commented on #80
Once again many thanks! The problem is solved.

[2018-07-04 08:49] rezo-evodion commented on #147
Hi,
I changed the img from string to SafeResourceUrl in Image Class and that did the trick, if you want, you can close the Issue.

[2018-07-04 16:17] Ks89 commented on #147
Could you share an example of an Image() with fake data inside (in particular the format of the img base64 also with random values as base64 but with a real format) ? This could be useful to other people and I can add it into the doc.

Thanks

[2018-07-04 16:38] Ks89 commented on #137
Hi.

This is really difficult to fix. Honestly I don't know how, but I'm happy to talk about possibile solutions and ideas.

Feel free to share proposals to start a discussion

[2018-07-05 15:13] rezo-evodion commented on #147
Hello,

here is an example of an images array with a base64 image:
[code]

As i said, this only works when i change the img Type to SafeResourceUrl in the ImageData interface. If not, the browser refuses to process the image with the warning:

The solution is very simple, the ImageData interface needs to be like that:
[code]

Can you please change this?

[2018-07-05 16:12] Ks89 commented on #147
Ah ok, so you changed the library to be able to do that. Ok.

I'll work on this issue next week, because from tomorrow I'll be in holiday without pc xd... Please be patient. Thank u for the hint.

[2018-07-06 13:15] neethukc opened #148 "Fetch images from an external data source"
Hi,
Can I fetch images from an external data source ?
Is there any way for it ?
If there is can anyone share one example to do the same .

[2018-07-07 19:08] LightningBladeXYZ opened #149 "Feature Request: Fade transition or similar"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior
Very sudden transition between images

## Expected behavior
Some kind of fade transition perhaps, just to soften it ever so slightly and give it a smoother f

[2018-07-10 09:34] LightningBladeXYZ commented on #149
I'm a bit blind. Just noticed there was a slight fade in-out transition. Closing for uselessness

[2018-07-10 09:34] #149 closed

[2018-07-10 14:08] SeanBreathnach commented on #95
I had this issue (an image gallery running from within a modal)
Adding the below to my styles fixed it for me:

`.modal.show .modal-dialog { transform:none; }`

[2018-07-10 19:41] Ks89 commented on #95
Interesting  @SeanBreathnach  I'll try it.

Did you add that css to angular's global style? Or inside the component with the modal gallery?

[2018-07-11 03:16] dadrake3 opened #150 "Image cover"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[X] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

I have some tall images and the top and bottom portion in the modal view is cropped out, as scene here
https://imgur.com/a/3dzn0wD

## Expected behavior

I

[2018-07-11 06:16] Ks89 commented on #148
Hi, yes add image urls from your external server, but remember that you won't be able to download it automatically because of browser's restrictions

[2018-07-11 06:17] Ks89 commented on #95
Interesting I'll try this weekend

[2018-07-11 06:18] Ks89 commented on #150
Hi could you share one of these images to test it? This shouldn't happen and it can be a bug.

[2018-07-11 18:13] dadrake3 commented on #150
@Ks89 basically I want the images to resize so that the entire image is displayed and not cropped

[2018-07-12 07:45] dskrypn opened #151 "Prevent setting by default `title` attribute for current image tag"
## I'm submitting a...

<pre><code>
[ ] Support request
</code></pre>

## Current behavior

`title` attribute is set to `img` tag of current image, and there is no way to remove it

## Expected behavior

`title` attribute is not set by default

## Minimal reproduction of the problem with instructions
Hover on current image element:
![image](https://user-images.githubusercontent.com/1439235/4261939

[2018-07-13 03:58] dadrake3 commented on #150
I fixed it, had some conflicting css, sorry for the trouble

[2018-07-13 03:58] #150 closed

[2018-07-13 06:11] Ks89 commented on #150
Ok perfect. Sorry for the delay, I'll back this weekend to fix some issues. This week is completely full xd

[2018-07-13 16:18] Ks89 commented on #151
Hi. Sorry for the delay. I'll investigate this weekend

[2018-07-13 17:01] Ks89 commented on #148
Hi! Is it enough as answer or do you need more info? Feel free either to comment or close the issue.

[2018-07-14 16:06] #148 closed

[2018-07-14 21:57] Ks89 commented on #147
@rezo-evodion Hi, I confirm that your solution is working....well done! I'll add you nickname in credits.

However, as you said, it requires to change the Image interface. This could cause breaking changes to many users, because Image interface if used by everyone.

Could you wait for the next major release (angular-modal-gallery 7.0.0) to have this feature officially released? I can release an al

[2018-07-14 22:42] Ks89 commented on #147
mmm, ok probably it's not so bad with "string | SafeResourceUrl".

I'll try to add a couple of unit test, before to decide for a release

[2018-07-15 17:46] Ks89 commented on #151
I checked but I think that this behavior is correct. Removing a default, could compromise accessibility to users that forget to add a title manually.

In this case you should add a custom title to the image class. Check the doc website. There are these 3 optional properties inside the Image class: title, alt and ariaLabel. You can use those to change all accessibility features and also titles.

Wh

[2018-07-15 18:00] Ks89 commented on #146
I decided to add a new propertie into Image class to choose the file name. I'll release it as 6.1.0.

When I'll find a new way to download images, probably I'll change it, but for now this should be ok.

[2018-07-15 18:15] Ks89 commented on #95
Hi @SeanBreathnach which library are you using to create modal dialog?

[2018-07-16 11:01] hn6pot opened #152 "Make image change on specific Timestamp"
Hi,
is there a way to make image change on specific timestamp ?
like a slideshow.

Thanks a lot !

[2018-07-16 11:53] Ks89 commented on #152
Hi. That feature is not available yet.

I'll add it in future releases but I cannot say a release date it right now.

[2018-07-16 11:55] Ks89 commented on #152
If you want to contribute and help to implement it feel free to open pull requests.

This summer I have to work on a new major release and Ill add new things with higher priority.

[2018-07-16 19:47] Ks89 commented on #147
6.1.0 release with this feature

[2018-07-16 19:47] #147 closed

[2018-07-16 19:47] Ks89 commented on #146
6.1.0 release with this feature

[2018-07-16 19:47] #146 closed

[2018-07-18 08:38] SebastianFreund commented on #146
It works fine! Thanks!

[2018-07-19 19:43] Ks89 opened #153 "Modal image loses proportions on mobile when resized (caused by version 6.0.2 #145)"
Modal image loses proportions on mobile when resized (caused by version 6.0.2 #145)

I'll release a fix in a couple of days, probably tomorrow.
Sorry guys for this issue. This is a terrible issue that I have to fix very very quickly in 6.1.1

PS: It's incredible that no one opened an issue about this :(

[2018-07-19 21:21] Ks89 commented on #153
Fixed with 6.1.1 very quickly. This was a terrible bug.

[2018-07-19 21:21] #153 closed

[2018-07-20 14:41] anacatarinasousaaa opened #154 "Slider Swipe in Tablet and Mobile"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior
In mobile and tablet,  the swipe is inverted: when we swipe left, the slider navigates to the previous slider.

## Expected behavior
When we swipe left, the

[2018-07-20 16:10] Ks89 commented on #154
Ok.

I'll add a new config property to invert the sliding in 6.2.0

[2018-07-20 16:14] Ks89 commented on #152
I have another idea. What about a method via galleryservice to change image manually via your component's code?

In future release I'll add it natively, but if you need this feature this summer I can implement it in that way

[2018-07-20 22:03] Ks89 commented on #154
@anacatarinasousaaa feature implemented (develop branch) and it will be released as 6.2.0 this weekend.
I have to write some unit tests to be sure that everything is ok.

[2018-07-22 00:54] Ks89 commented on #154
tests completed I'll release 6.2.0 today.

[2018-07-22 13:14] Ks89 commented on #154
released. Doc website will be updated in today, please be patient.

[2018-07-22 13:14] #154 closed

[2018-07-24 03:57] gagandeepbal commented on #137
Any update on this issue? Facing this same issue.

[2018-07-24 04:38] gagandeepbal commented on #137
Setting the z-index on sidenav content (where router-outlet is) fixed the issue. Also, i'm switching mode of sidenav based on screen size using flex-layout, so i have to use ngStyle for setting z-index when sidenav mode is set to side.

NOTE: I'm using material sidenav in my app.

[2018-07-24 06:14] Ks89 commented on #137
Thank u, but I'm not able to fix this issue alone.
If you share a runnable example I'll try to investigate again.
More runnable examples as github repos or on stackblitz you share more easily I'll fix this issue.

I'm not using material in production, so it's not simple to simulate all scenarios.

[2018-07-24 06:16] momopaper commented on #137
too bad, i cant find the solution, me and my friends did try fix but unfortunately

[2018-07-24 16:52] Ks89 commented on #137
Do you have runnable examples with angular material on github to show issues with materie?

[2018-07-25 08:59] majorbenks commented on #111
I have the same problem. It e.g. occurs when I place the gallery inside a css grid (display: grid).

[2018-07-25 09:07] domiSchenk commented on #111
This could solve the problem with issue #95.
If its appended to body all the grid:css and modals do not block the gallery.

[2018-07-25 19:51] Ks89 commented on #111
I'll investigate again in August, because I'm completely full until the beginning of August.
PS: if you have a resource or other stuff to do this, please share it.

[2018-07-25 20:38] domiSchenk commented on #111
Other libraries are using` @angular/cdk/overlay` to archive this.

[2018-07-25 21:17] Ks89 commented on #111
Interesting, I'll investigate a bit next week. thank you.

[2018-08-09 16:10] Ks89 commented on #144
I started to work on a new big feature: carousel

[2018-08-10 14:55] asarapas opened #155 "Different image URLs for the Thumbnails and image preview"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

Same image is used for the Thumbnail and Image preview

## Expected behavior

Thumbnail Image URL could be used for the Thumbnails and actual / larger imag

[2018-08-10 17:04] Ks89 commented on #155
Hi, I'm sorry but I'm not understand. Could you explain again with more details?

 What it means 'Image preview'? Side previews or previews at the bottom of the modal view?

This is already implemented. You can define 2 urls, one inside the modal object and another one into plain object.
Image interface is here: https://ks89.github.io/angular-modal-gallery-2018-v6.github.io/features/modal-gallery

[2018-08-12 17:02] Ks89 commented on #144
New documentation website (still not updated to 7.x.x) with better accessibility, performance and SSR support with angular-universal: https://github.com/Ks89/angular-modal-gallery-2018-v7.github.io

I'll update and publish it after the first alphas of the library :)

[2018-08-13 09:13] asarapas commented on #155
Sorry, my bad. Did not spend enough time on the gallery to understand meaning of the plain object. Gallery certainly works the way you have described and that's exactly what I was looking for. Thank you for the superb product, outstanding support.

[2018-08-13 09:14] #155 closed

[2018-08-15 19:43] luisCortes commented on #111
Hello, do you have any update on this, I'm having the same problem, the preview of an image is shown inside a component and not over the whole screen viewport.

![image](https://user-images.githubusercontent.com/18152434/44169316-a0062d80-a099-11e8-872a-0b3e1eeda125.png)

[2018-08-15 19:46] luisCortes commented on #111
Another issue is that I can still use the scroll behind the overlay, here's an image of that:

![image](https://user-images.githubusercontent.com/18152434/44169434-0a1ed280-a09a-11e8-9096-cb8b653d434d.png)

[2018-08-15 20:13] Ks89 commented on #111
sorry, no news at the moment

[2018-08-15 21:31] Ks89 commented on #111
@domiSchenk can you share the name of some of those libraries to see how they are using cdk? Thank u.

[2018-08-15 21:38] luisCortes commented on #111
Thank you @Ks89

[2018-08-16 19:57] Ks89 commented on #144
@ks89/angular-modal-gallery version 7.0.0 will require rxjs 6 (no more rxjs-compat). So the minimum version of Angular will 6.0.0 as already anticipated.

[2018-08-16 20:01] Ks89 commented on #144
**If angular-cli 7 will force all library developers to switch to Angular 7, also @ks89/angular-modal-gallery will require angular 7.**

[2018-08-16 23:09] Ks89 commented on #144
Warning - breaking change:
I changed how previews scroll in modal view. The rule is:

if number of previews % 2 === 0 =>
- a click on the first half => previews
- a click on the second half => next
else =>
- a click on the first half => previews
- a click in the middle => ignore the click without doing anything
- a click on the second half => next

Why?
Because, it's simpler and cleaner and also i

[2018-08-17 11:12] rezo-evodion opened #156 "SlideConfig Bug"
## I'm submitting a...

<pre><code>
[*] Bug report
[* ] Feature request

I do not know if it is a Bug or Feature Request but I am sure you can find it out,
</code></pre>

## Current behavior

Use [slideConfig]="{infinite: true, sidePreviews: {show: false}}, I can see the next and Previous Image Buttons when there is only one Image in Gallery.

## Expected behavior

Next and Previous Button in case

[2018-08-17 12:58] Ks89 commented on #156
you are right. This issue is caused by 'infinite: true' with only one image. I'll fix it.

Do you need a quick fix? Or can I add it directly to version 7.0.0?

[2018-08-17 13:03] rezo-evodion commented on #156
when you can provide a quick fix, it will be great because it should be done next monday.
Thanks for quick response.

[2018-08-17 19:33] Ks89 commented on #156
6.2.1 released with a fix. Feel free to re-open if you find this issue again

[2018-08-17 19:33] #156 closed

[2018-08-18 14:57] Ks89 commented on #152
I'll implement this feature in 7.0.0 (or 7.1.0) that it is already work in progress.

[2018-08-18 22:25] Ks89 commented on #143
After some experiments I found many issues about the common technique to rotate images with css.
In fact, it break the layout.
I'll experiment other solutions before to confirm if I'll be able to include it in 7.0.0 or not.

[2018-08-20 10:14] rezo-evodion opened #157 "Infinite Slide Bug If Images Added Asynchronously"
## I'm submitting a...

<pre><code>
[x] Bug report

</code></pre>

## Current behavior

Hello it's me again. ;)

If images are added after the gallery is already opened with:
`[slideConfig]="{infinite: true, sidePreviews: {show: false}}"`
the next and previous buttons are not shown.
Please take a look at the stackBlitz demo.

## Expected behavior

The next and previous buttons are shown if there a

[2018-08-20 11:57] Ks89 commented on #157
Issue confirmed

[2018-08-22 12:36] Ks89 commented on #157
@rezo-evodion released as 6.2.2-beta.1. It should be ok, but I have some problems with unit testing, so I released this issue asa beta, at the moment. Fell free to use it, I won't change anything in the final version.

[2018-08-23 23:59] Ks89 commented on #157
6.2.2 final released

feel free to re-open if you find something wrong

[2018-08-23 23:59] #157 closed

[2018-08-27 07:56] rezo-evodion commented on #157
hello,
it works perfect now, thanks +1

[2018-08-28 08:44] Monarch73 opened #158 "Zoom into currentImage on touch devices..."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[X] Support request
</code></pre>

## Current behavior

Current Image is not zoomable on touch devices.

## Expected behavior

I would like to have the user to be able to zoom into the currentImage on touch devi

[2018-08-28 11:49] Ks89 commented on #158
Thank u, I'll confirm the issue. I'll investigate tomorrow.

[2018-08-29 06:18] Ks89 commented on #158
Ok I checked and it's something related to Hammer js.
I'll try to fix it this weekend because I'm quite busy right now. It's the first week after my holiday

[2018-08-29 09:26] Monarch73 commented on #158
Mille Grazie for looking into this. Much appreciated. If there is anything I can do to support you on this, please don't hesitate to let me know...

[2018-09-01 00:15] Ks89 commented on #158
Hi, I investigated but It's more complicated than expected, because It's not something that I'm managing directly, but with hammerjs.
I opened an issue here https://github.com/hammerjs/hammer.js/issues/1193 into the official hammerjs repo to ask more information about this behaviour. Please be patient. I'll update the issue when I'll find a solution.

[2018-09-01 19:52] Ks89 commented on #137
I'm experimenting cdk and it's interesting. When I'm ready to integrate into the library I'll update this issue.

[2018-09-09 21:56] Ks89 commented on #144
I decided to write a new scroll feature also with animation for carousel's previews. It's still experimental, but when I'll I have a working impl I'll release a public beta of 7.0.0 (probably at the end of September or before)

In future releases I'll port this also for modal previews. Right now I prefer to wait, to do small steps, without break everything :)

[2018-09-12 11:54] srtab opened #159 "Back button with modal opened freeze the page scroll"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

When you click a back button with the modal gallery opened, the page scroll freeze. This is happening due a attribute added to the body _style="overflow: h

[2018-09-12 21:35] Ks89 commented on #159
Hi
Is it happening on smartphones or also on desktops?

[2018-09-12 22:35] srtab commented on #159
I tested in desktop, Firefox and Chrome, and in smartphones, Safari iPhone. I was able to reproduce the problem only on desktops. I don't have a Android phone to test, but i believe it's happening the same problem.

[2018-09-13 07:44] Ks89 commented on #159
Issue confirmed. I'll try to fix it this weekend

[2018-09-13 20:20] Ks89 commented on #159
@srtab I fixed the issue. I'll release 6.2.3 this weekend as promised.
I want to do some tests on different browsers and with SSR before to release it.

Thank u for the issue, I missed completely this bug.

[2018-09-13 23:07] srtab commented on #159
Ok @Ks89, many thanks for the fast response and resolution!!

[2018-09-15 20:12] Ks89 commented on #159
6.2.3 released.

If it's ok, please close the issue 👍

[2018-09-15 23:57] srtab commented on #159
Perfect, many thanks @Ks89!

[2018-09-15 23:57] #159 closed

[2018-09-25 18:46] Ks89 commented on #144
Ok, after many experiments I decided to revert the scrolling carousel's previews, because It's absolutely impossibile to implement it in a stable way for all browsers, all resolutions and also for many input parameters.
I prefer to create a simplified and stable implementation that I can improve in future releases, then delay the current version.

[2018-09-26 18:29] Ks89 opened #160 "[SURVEY] Which internationalization library are you using for your project with angular-modal-gallery?"
I have a question for all users of this library.
Which internationalization library are you using for your project with angular-modal-gallery?
For instance: **angular-cli i18n**, **ngx-translate** or other stuff?

This survey is useful to plan future versions of the library (>=8.0.0).

Thank you.

[2018-09-26 23:30] Ks89 commented on #144
feature "carousel's previews" completed.
Now I'm fixing some tests.
This weekend I'll publish the first public alpha.

[2018-09-29 14:07] Ks89 commented on #144
Alpha 1 released.
Don's use it in production, but please try it and let me know every issue to fix it before the final release.

To install `npm i --save @ks89/angular-modal-gallery@next`

# 7.0.0-alpha.1
### Features
- add (plain) carousel with previews
- new method in GalleryService called 'navigateGallery'
- gallery ids must be unique across the whole application **(BREAKING CHANGE)**
- require

[2018-09-30 18:33] Ks89 commented on #144
I found an issue with fixed width carousel on mobile. I pushed a fix and I'll release it in alpha2 in a couple of days.

[2018-10-04 23:31] Ks89 commented on #144
Alpha 2 released https://github.com/Ks89/angular-modal-gallery/releases/tag/v.7.0.0-alpha.2

[2018-10-04 23:33] Ks89 commented on #144
Stackblitz example updated to alpha 2: https://angular-modal-gallery-v7.stackblitz.io/

[2018-10-07 21:07] Ks89 commented on #144
With the next release (BETA 1) I'll publish the documentation website (probably at 15th of October). Now I'm writing unit testing for the new carousel components.

[2018-10-09 13:12] smardine opened #161 "Load FullDefinition image on demand"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

Is there any way to first load only thumnail image and when  i click on it, make a request to my server to get the full def of the corresponding image?

##

[2018-10-09 16:21] Ks89 commented on #161
Sure.
The library already have this feature.
When you instantiate an image, set the modal path with the bigger image and inside the plain path Che smaller one.

If you check on the documentation website (features - modal gallery) you could find the full definition of Image class.

If you have other questions or problems feel free to ask.

[2018-10-10 08:21] smardine commented on #161
Hi, thanks for your answer (and your component :) )
the scenario is this:

when my componenet is loaded, i take from the server juste the thumbnail image as base64string and i put in the modal path so my users can see the gallery as soon as the component is loaded.

then,in a synchronous task witch is triggered when the user click on the gallerry to open it in modal, i take the "fulldef" base64 st

[2018-10-10 09:29] Ks89 commented on #161
If you read the documentation you will see that there are also output events. Also, there are many demos to see all features.

What you are asking is a very specif use case. In fact, you want to load dynamically a base64 forcing it externally updating the image array.
This is not a feature that I support and It's not something with high priority. If you want to help me and add it to the library I'

[2018-10-10 11:29] Ks89 commented on #161
I'm adding urls in this way because my images are stored locally. However you could add also external paths, but I suggest to use local images to be able to use download features.

I never tried to use base 64 from url.

[2018-10-10 15:04] smardine commented on #161
I'ts me again,
i find a way to do it with the galleryservice
I forked your repos and modify some files but how can i submit i to you ?
The only modified files are 'modal-gallery.component.ts' and 'gallery.service.ts'

[2018-10-10 15:15] Ks89 commented on #161
You should create a pull request on github following the official tutorial of how to create a pull request

[2018-10-10 15:16] smardine commented on #161
ok, in witch branche should i make the pullrequest?

[2018-10-10 15:21] Ks89 commented on #161
Develop

[2018-10-10 15:22] Ks89 commented on #161
I'll port your fix to the next major release by myself

[2018-10-10 15:33] smardine commented on #161
ok, thanks

[2018-10-10 22:37] Ks89 commented on #161
Ok I merged the pull request applying some fixes and improvements into develop branch

[2018-10-10 22:37] #161 closed

[2018-10-10 22:46] Ks89 commented on #144
I had to release 6.3.0 before 7.0.0-beta.1, so there will be a small delay

[2018-10-11 19:02] Ks89 commented on #144
Ok 6.3.0 has been released, I can back again to 7.0.0 beta

[2018-10-13 23:39] Ks89 commented on #144
BETA 1 released!!!!
There are some bugs about carousels with firefox, IE and Edge, however I'll fix they in upcoming betas.

Documentation website is coming really soon, I'm ready to release the first public version.

[2018-10-13 23:53] Ks89 commented on #144
Doc website 7.0.0-beta.1 released here: [https://ks89.github.io/angular-modal-gallery-2018-v7.github.io/](https://ks89.github.io/angular-modal-gallery-2018-v7.github.io/)

[2018-10-14 17:14] Ks89 commented on #113
I createad an icon, but if you want to make a better one, feel free to share it.

[2018-10-14 17:14] #113 closed

[2018-10-14 19:56] Ks89 commented on #144
Branch 700 merged into develop 🥇

[2018-10-15 18:44] srtab opened #165 "Add output to ModalGalleryComponent emitting whenever the image is changed"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

There's no way to know whenever the current image is changed. If the image is changed by clicking on the preview, i have no way to catch it. I only can cat

[2018-10-15 23:14] srtab commented on #165
Perfect @Ks89

[2018-10-15 23:15] srtab commented on #165
Sorry, i accidentally closed the issue.

[2018-10-16 06:08] Ks89 commented on #165
No problem. I'll work on this in a couple of weeks, as soon after the release of 7.0.0 final

[2018-10-17 06:48] kaiwalyapowle opened #166 "Length attribute of GridLayout not working"
Hi, i am using ks89/angular-modal-gallery v6.3.0

I want to implement PlainGalleryGrid layout where in i want to show only 1 item so i have kept the length in BreakConfig as 1.
Following is the code:

` plainGalleryGrid: PlainGalleryConfig = {`
    `strategy: PlainGalleryStrategy.GRID,`
   ` layout: new GridLayout(`
    `  { width: "160px", height: "160px" },`
     ` { length: 1, wrap: true }`
 `

[2018-10-17 23:38] Ks89 commented on #166
Hi, sorry for the delay.

Why do you need a grid layout to show only an element instead of a grid? In this case LineLayout is better. Could you explain the use case?

[2018-10-17 23:47] Ks89 commented on #166
However the length property is used to limit the grid by the number of elements per row.

[2018-10-18 06:31] kaiwalyapowle commented on #166
Hi, you are right. My use case is such that Line layout is preferred instead of Grid Layout.

The use case is as follows:

I have multiple arrays of Images and i want to display the first image of each array as thumbnail in a masonry style grid and on clicking the thumbnail, each modal will display its respective images.

I earlier thought the Grid Layout will by default get me the intended result

[2018-10-18 06:31] #166 closed

[2018-10-20 17:32] Ks89 opened #167 "[SURVEY] do you really need Internet Explorer 11 support or can I remove it?"
I'm tired to support IE11.
IE11 is causing me many issues, in particular about the new carousel component. I'm delaying the next beta version of 7.0.0, only to fix stupid bugs on IE11 adding workaround and so on.

What do you think if I remove IE11 support with angular-modal-gallery 10? (that probably will be released in Autumn 2019)?

[2018-10-23 15:15] Sachin124 opened #168 "Only First 5 images are loading."
<
## Current behavior

Hello I'm using @ks89/angular-modal-gallery in my case i merge my array into images but the problem is only first five images are loading. if i select particular 6th image then its loaded.

my image array is like this
Image Data [{"id":"54","modal":{"img":"http://api.inkpencil.com/upload/institutegalleryimages/6e2855f4d751eaadbfd7dc73d37d1ba6.jpg"}},{"id":"55","modal":{"img"

[2018-10-23 16:50] Ks89 commented on #168
Hi.
Please could you post the code to show how you are merging the arrays.

[2018-10-23 21:33] Ks89 commented on #168
I can suppose that you are modifying the original array, instead of re-assign it.

[2018-10-24 22:00] Ks89 commented on #144
I need at least another beta to fix some stuff on mobile devices, before to go to RCs.

[2018-10-26 05:29] MiaAlSaif opened #169 "Modify spacing between thumbnails (more than 2 images)"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[x] Support request
</code></pre>

## Current behavior

Currently the thumbnail images are poorly laid out, meaning there is no even spacing in between, especially vertically where the images basically connect.

[2018-10-26 06:18] Ks89 commented on #169
You are right I'll add a small margin in next releases.
However, right now you can create your own custom layout using your css. I have some examples both in the doc and in the repo.

[2018-10-26 17:48] MiaAlSaif commented on #169
Hi,

Thank you for your prompt response.  I was unable to locate the docs on that, could you please directly link here?

Cheers!

[2018-10-27 16:51] Ks89 commented on #169
https://ks89.github.io/angular-modal-gallery-2018-v6.github.io/demo/plain-custom-desc

https://ks89.github.io/angular-modal-gallery-2018-v6.github.io/demo/plain-image-pointer

[2018-10-28 01:38] Ks89 commented on #168
Is this still an issue? Can I close it or do you need more info?

[2018-10-28 01:42] Ks89 commented on #169
Fixed in develop branch and scheduled for the next 7.0.0 beta version.

PS: 7.0.0 will be release in November, however right now you can use a custom layout using examples in my previous post.

Issue closed, thank your for the issue.

[2018-10-28 01:42] #169 closed

[2018-10-28 01:46] Ks89 commented on #144
Beta 3 will be released in some days. I also added a new api to add responsive breakpoints to carousel's previews. This is a way to fix responsiveness on previous betas, but also a way to configure heights on previews.

[2018-10-28 04:02] MiaAlSaif commented on #169
Thank you for the links! I was able to adjust padding.

[2018-10-29 08:27] Farooq-ThinkDigital opened #170 "Image are small : how to change it from width: 50px; to width : 250px"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions

My official live example on StackBlitz (based on https://stackblitz.com/edi

[2018-10-29 08:47] Ks89 commented on #170
Please could you provide more information? Which version of the lib are you using?

Also, which images? Modal previews? If yes, which images?
Or are you talking about plain images. If needed post also a screenshot :)

[2018-10-29 08:50] Farooq-ThinkDigital commented on #170
hi thank you for reply: am using "@ks89/angular-modal-gallery": "6.3.0",

[2018-10-29 09:55] Ks89 commented on #170
which images? Modal previews? If yes, which images?
Or are you talking about plain images. If needed post also a screenshot :)

[2018-10-29 09:57] Farooq-ThinkDigital commented on #170
ks-modal-gallery:

 <ks-modal-gallery class="modal-gallery-css" [id]="4" [modalImages]="images"
                  style="height: 100px; width: 250px;"

[2018-10-29 09:57] Farooq-ThinkDigital commented on #170
first image array : before clicking.

[2018-10-29 17:21] Ks89 commented on #170
This style="height: 100px; width: 250px;" is totally wrong. You are using an angular component tag not a simple html tag. If you want to change the behavior of the component you have to use its apis.

Please check the official doc

[2018-10-29 21:14] Ks89 commented on #170
This is more advanced, but very useful: https://ks89.github.io/angular-modal-gallery-2018-v6.github.io/demo/plain-custom-desc

I close the issue, if you have other questions feel free to ask

[2018-10-29 21:14] #170 closed

[2018-10-30 14:31] dmlb commented on #167
Yes IE11; current users are still far greater on IE than Edge

[2018-11-01 11:51] Farooq-ThinkDigital commented on #131
Images are scarred  and not clear.
@ks89/angular-modal-gallery

 <ks-modal-gallery [id]="5" [modalImages]="Images"

                    [plainGalleryConfig]="plainGalleryGrid"
                    [buttonsConfig]="buttonsConfigFull"
                    (buttonBeforeHook)="onButtonBeforeHook($event)"></ks-modal-gallery>

[2018-11-01 11:56] Ks89 commented on #131
Are you using Image class in the right way? So modal for modal images and plain for thumbs (with obviously smaller images)

[2018-11-01 12:00] MohammedFarooqS commented on #131
1-Image are not clear (how to use fixed aspect full image )
2-i want to add margin down , margin top:

 plainGalleryGrid: PlainGalleryConfig = {
    strategy: PlainGalleryStrategy.GRID,
  layout: new GridLayout({ width: '180px', height: '180px' }, { length: 4, wrap: true}) }

[2018-11-01 12:09] Ks89 commented on #131
You can use custom galleries to draw images with your custom css.
In version 7 of the library I added default margins top and bottom, but It's still in beta. I'll release the final version about at 15 of November.

What do you mean with `how to use fixed aspect full image`?

[2018-11-01 12:13] MohammedFarooqS commented on #131
consider you profile image: its clear and center , modal gallery am not getting image ,its not center , neither its clear,

[2018-11-01 12:43] MohammedFarooqS commented on #131
images are going flat

[2018-11-01 12:48] Ks89 commented on #131
please could you post a screenshot and the original image that you are using?

[2018-11-01 12:54] MohammedFarooqS commented on #131
![8](https://user-images.githubusercontent.com/26326104/47852868-a4fb9300-dde5-11e8-9bbe-08bfd9f10819.jpg)
![gallery](https://user-images.githubusercontent.com/26326104/47852962-fc99fe80-dde5-11e8-8678-542e9743b98b.png)

[2018-11-01 12:58] Ks89 commented on #131
In this case I suggest to use custom layout and add to images 'cover' as object-fit or as background. If you have specific requirements it's better to create the gallery with custom layout.

However I'll schedule to check gridlayout in next releases to try to add object-fit: 'cover' as default, preventing that behaviour.

[2018-11-01 13:01] MohammedFarooqS commented on #131
ok, will try , thank u Stefano Cappa. Can I get an example of it.

[2018-11-01 13:04] Ks89 commented on #131
This is an example https://ks89.github.io/angular-modal-gallery-2018-v6.github.io/demo/plain-custom-desc

[2018-11-01 13:14] MohammedFarooqS commented on #131
![q2](https://user-images.githubusercontent.com/26326104/47853824-abd7d500-dde8-11e8-8039-39ce8d53b661.png)
Any Idea , how can I add + button at first continue with other images.

[2018-11-01 21:47] Ks89 commented on #144
Finally I fixed everything except for a stupid issue on IE11, that I'll fix before the final release.

Next releases will be RCs. If you want to use this library in your project, now you can, because apis are quite stable. Please give me all feedbacks.

[2018-11-03 16:12] Ks89 commented on #167
Yes, I suppose that many users are still using IE11.

I'm thinking to eventually remove it in future releases (I don't know when), because It causing me delays at every release, in particular with 7.0.0 beta that it sill have some issues on IE11.

I hate Ie11 :) but I cannot remove it right now. I'll think about IE11 support again in the future.

However I suggest to force/suggest users to use mod

[2018-11-03 16:14] Ks89 commented on #160
I'm asking this because I want to remove internationalization support via inputs, preferring a standard way like angular-cli i18n via "i18n-something" as already done by ng-bootstrap.
In this way, It will be easier to support many languages also for accessibility purposes.

[2018-11-03 20:58] Ks89 commented on #144
7.0.0 RC.1 released :)

The library is stable, or at least I hope.
I have to improve unit testing before the final release, but the library itself it sill be the same as RC1

[2018-11-05 08:47] MohammedFarooqS commented on #131
![plussign](https://user-images.githubusercontent.com/26326104/47987392-0d998700-e0e8-11e8-8da8-7b28ed77e251.png)

[2018-11-06 23:40] Ks89 commented on #131
I'm sorry for the delay, I completely forgot to answer :(.

What are you trying to do requires custom layout for sure. It's not possible to do this thing automatically, but it requires a custom implementation via pure css/html using custom layout.

I suggest to take a look to the main example inside the repo here: https://github.com/Ks89/angular-modal-gallery/blob/ef6d5c1c5d626afe6cdcb446773046ea9

[2018-11-06 23:47] Ks89 commented on #144
I'm working on RC2 and hopefully the last RC before to release the final version.
I'm writing unit tests for the two new components. So in RC2 I'll improve input validation and so on, to prevent possible issues.

Please be patient. The final version will be released this month.

[2018-11-07 10:50] MohammedFarooqS commented on #131
hi Stefano Cappa, thank you for replying.
Trouble with margin:5px

Argument of type '{ width: string; height: string; margin: string; }' is not assignable to parameter of type 'Size'.
  Object literal may only specify known properties, and 'margin' does not exist in type 'Size'.

[2018-11-07 17:52] Ks89 commented on #131
Yes because margin in not part of the size interface.

Can you post the full code? Because I don't undestand where you are using the  size interface

[2018-11-08 09:17] MohammedFarooqS commented on #131
plainGalleryGrid: PlainGalleryConfig = {
    strategy: PlainGalleryStrategy.GRID,
    layout: new GridLayout({ width: '200px', height: '200px' }, { length: 4, wrap: true })}

 <section class="file">
          <label class="upload_button_label" for="fileupload">+</label>
          <ks-modal-gallery [id]="5" [modalImages]="services.selected.galleryImages"
                    [plainGalleryConfig]="pl

[2018-11-08 09:18] MohammedFarooqS commented on #131
<section class="file">
          <label class="upload_button_label" for="fileupload">+</label>
          <ks-modal-gallery [id]="5" [modalImages]="services.selected.galleryImages"
                    [plainGalleryConfig]="plainGalleryGrid"
                    [buttonsConfig]="buttonsConfigFull"
                    (buttonBeforeHook)="onButtonBeforeHook($event)"></ks-modal-gallery>
      </section>

[2018-11-26 22:17] Ks89 commented on #144
RC2 is out.
I'm sorry for the delay but I was really unexpectedly busy this month.
I'll release the final version in 1 or 2 weeks.

[2018-11-28 23:58] Ks89 commented on #165
I'm sorry for the delay. 7.0.0 was really challenging. I released the last RC some days ago, so in a couple of weeks I'll release the final version.
7.1.0 will be released in December.

[2018-11-28 23:59] Ks89 commented on #152
I'm sorry for the delay. 7.0.0 was really challenging. I released the last RC some days ago, so in a couple of weeks I'll release the final version.
7.1.0 with this feature, will be released in December. Please be patient :)

[2018-11-29 11:42] srtab commented on #165
No problem @Ks89 :)

[2018-11-30 10:39] shakerica opened #171 "Duplicate images not showing on Next / Back preview.(v6.3.0)"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

Hello!
I'm trying to add a no_preview image for files that are not considered image.
The problem that I'm facing is that when I'm adding 2 or more of the s

[2018-11-30 12:14] shakerica opened #172 ""description" not found in 'ks-modal-gallery(v6.3.0)"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

Hey!
I'm trying to add a custom description as you have in your demo.

From what I can see when I try to add this piece of code in my HTML
<ks-modal-galler

[2018-11-30 13:08] Ks89 commented on #172
Hi,
Right now I'm attending a conference and I don't have a pc, however which version of the library are you using?

[2018-11-30 13:09] Ks89 commented on #171
Thank u I'll investigate

[2018-11-30 13:15] shakerica commented on #172
Hey !

Thanks for quick answer.
The version of the library is 6.3.0 .
I think you can close this issue I  just discovered 3 minutes ago that in order to configure your description you need to add : [currentImageConfig] = {description: customDescription}.
I think maybe demo needs to be updated or something:)

Thanks a lot!

[2018-11-30 13:21] shakerica commented on #171
I've made a temp fix . When I'm pushing the images from my response into image[].
 I'm adding to img: url+"?"index .(The url will look somethinkg like : urltomyimage.png?1)
I think this has something to do with caching.

[2018-11-30 13:58] Ks89 commented on #171
Oh yes you are right I already saw this. It's about caching and browsers don't emit the load event for cached images. I can't do anything to fix this, however your idea is interesting. If it is really working I can suggest it in the doc as a workaround.

[2018-11-30 16:11] Ks89 commented on #172
Ok perfect. Which demo? Stackblitz v6 or demos inside the repo?

[2018-11-30 16:11] #172 closed

[2018-12-06 00:58] Ks89 commented on #144
7.0.0 will be released today evening :)

[2018-12-06 00:58] #144 closed

[2018-12-06 21:39] Ks89 commented on #144
7.0.0 final is finally available on npm

[2018-12-07 19:04] Ks89 commented on #171
I made some quick experiments and your idea (...?1) is working very well. I'll add it for sure in the doc website also with a dedicated demo in version 7.1.0 or 7.2.0 this month.

I'm still thinking if it could be good to implement a logic that automatically append '?index' to all images when you provide the images array to the library. What do you think?

Thank u man 👍

[2018-12-07 19:23] Ks89 commented on #171
Ok no, I cannot do this because if users want base64 images this will break paths.
I'll add an example to the official doc. Probably in future releases I can change the Image interface to specify the type of the path (url, base64...). But at the moment it's not feasible without adding frustrating breaking changes.

[2018-12-07 19:34] shakerica commented on #171
I was thinking about that ...., because I saw support for base64, and you are right for now I think only worth mentioning in documentation as a workaround for people who are using img paths.

[2018-12-08 11:36] Ks89 commented on #171
All demos has been updated in 7.2.0 on a dedicated branch (called 720) in this repo. I'll merge the branch into master this month (I don't know when exactly, probably at the end of December).
Stackblitz example is already updated and published.
Doc website will be updated at the same time of 7.2.0

Issue closed.
thank u.

[2018-12-08 11:36] #171 closed

[2018-12-13 22:07] cuneytcalishkan commented on #160
ngx-translate is my choice, easy to use especially when combined with http-loader

[2018-12-14 10:50] yglodt opened #173 "Have modal centered in container"
Hi,

I am using `angular-modal-gallery` in an angular-material based app.

The gallery is used in a component being shown by router-outlet.

The app is structured like this:

[code]

The problem I have is that the gallery is centered in the whole document, this way the left navigaton arrow is hidden, and so is the "Close" icon.

Is there a way to tell `angular-modal-gallery` to center itself in th

[2018-12-14 12:38] Ks89 commented on #173
Hi.
Yes this is a well known issue.
There are some open issues about this topic and I scheduled the fix for version 8.0.0

I'll work on this during Christmas holidays.

At the moment there isn't a solution. This is happening because material wins over and higher css z-index.

I close the issue not because I'm not interested to fix it, but because its already scheduled and there is another issue #1

[2018-12-14 12:38] #173 closed

[2018-12-14 14:14] yglodt commented on #173
Thank you for your quick and detailed explanation. Your effort for this component is highly appreciated.

[2018-12-18 15:56] Bob19891212 opened #174 "Error: StaticInjectorError(AppModule)[ModalGalleryComponent -> KeyboardService]"
Hi:
  I'm face this problem,when i use "ks-carousel"  in my custom module,  i will face this problem
  "CarouselComponent.html:135 Error: StaticInjectorError(AppModule)[ModalGalleryComponent -> KeyboardService]"
  when i use in root module(appmodule),it won't appear this issue

Angular CLI: 7.0.6
Node: 8.9.4
Angular:
...

Package                      Version
---------------------------------------

[2018-12-18 19:31] Ks89 commented on #174
Also, did you check the official live example? https://stackblitz.com/edit/angular-modal-gallery-v7

[2018-12-19 01:45] Bob19891212 commented on #174
Yes, i add the module without forRoot() in child moule,
i do a test in stackblitz, https://stackblitz.com/edit/angular-axdjwp

[2018-12-19 07:19] Ks89 commented on #174
What? forRoot in child module is wrong. This is a common pattern in Angular. Forroot() is only for the root module.
In your example I don't see any forRoot(). You aren't importing the module in your root module.

Please check my example carefully, because it's working and you can copy the configuration. It's also explained in the official documentation website.

[2018-12-19 07:41] Bob19891212 commented on #174
you are right ,if i add the module with forRoot()  in my child module,it works

Thanks

[2018-12-19 18:47] MichaelAguilar opened #175 "Drag & Drop"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[x] Documentation issue or request
[ ] Support request
</code></pre>

## Environment (the most important section to fill very carefully)

This is actually just a question (I didn't see anything in the ReadMe about how you would prefer to receive

[2018-12-19 18:53] Ks89 commented on #175
Hi. Yes issues are ok.

I didn't implement this feature. I never used drag and drop with material, but if you want to add images to plain gallery you could implement it by yourself using a custom plain layout.

About modal gallery, it's totally different because this feature is really specific and I don't know if it's good to add it.

[2018-12-19 19:05] MichaelAguilar commented on #175
@Ks89 Thanks so much for the quick response! I'm currently looking into adding a custom layout for the Plain Gallery, but I figured I would ask and see.

Thanks again!

[2018-12-28 01:07] Ks89 commented on #152
Feature fully implemented and tested (develop branch). Doc website 7.2.0 ready to be published.
This feature will be released as 7.2.0 before the end fo the year. Probably in one or two days.

Issue closed. Feel free to comment if you have problems.

[2018-12-28 01:07] #152 closed

[2018-12-28 14:30] fbmarques opened #176 "Dynamic galleries"
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[x] Support request
</code></pre>

<pre><code>
- Node version: 11.5.0
- npm version: 6.4.1
- Operating System and version:  Linux
- Angular version: 7.1.4
- angular-cli version 7.1.4

Browser:
- [x] Chrome (desktop) version XX
- [ ] Ch

[2018-12-28 16:09] Ks89 commented on #176
Hi.
Please check the official live example and click on menu's Modal gallery item.
As you can see there is a button to add images at the beginning of the page. This button executes a method called "addRandomImage" in the component's code.

It's very simple, because you only need to add new elements to the array of images, but take care of immutability.
If you try to push images to the array, Angul

[2018-12-28 16:11] Ks89 commented on #176
Oh, wait probably I didn't understand your problem. If not, please explain it again.

[2018-12-29 00:02] fbmarques commented on #176
Ks89, thank you very much for your attention.

So my problem is this:

I have 3 products, each one needs to have a gallery, I can do it dynamically.

But, what I did not understand is how to call the pictures from each gallery, and dynamically.

In your examples, there are only one images: Image [], I think you could make an example with two galleries, with different images, I think it would help

[2018-12-29 00:15] Ks89 commented on #176
Hi, my official example is a big page with multiple galleries in the same webpage. If you want different images, you should simply create two different arrays. I don't see any problem to do this.
Every instance of modal-gallery can use a different array of images.

[2018-12-29 09:56] fbmarques commented on #176
I understand...

Could you tell me the example you mentioned with a sample link?

Once again thank you for the attention !!!

Atte,
fbmarques

[2018-12-29 12:17] Ks89 commented on #176
This is the live example. As you can see I'm using multiple instances of the gallery, sometime with the same array, sometime not.
https://stackblitz.com/edit/angular-modal-gallery-v7

[2018-12-29 12:17] #176 closed

[2018-12-29 12:19] Ks89 commented on #160
Ok, I decided to wait to change this. I want to see how runtime transtations will be implemented with angular ivy (render 3).
So, at the moment I close the issue.

When Angular's team decide a standard and well supported way to do this also at runtime, I'll implement it.

[2018-12-29 12:19] #160 closed

[2019-01-03 10:01] alvinmactal opened #177 "Cannot read property 'pauseOnHover' of undefined"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior
The error appear when hovering in the image modal

## Expected behavior
There's no change in behavior i just recieved this error when opening a modal galler

[2019-01-03 11:17] Ks89 commented on #177
That property is supported only in version 7.2.0.

You should use always the last version of the library. Also the live example you linked is old. You must use version 7 as explained in official Readme.

I'll update github issue template to use version 7 and prevent future mistakes.

[2019-01-03 11:20] Ks89 commented on #177
Ok template updated with a link to https://stackblitz.com/edit/angular-modal-gallery-v7

If you still have issues, feel free to comment here.

[2019-01-03 11:31] alvinmactal commented on #177
I just checked, I'm using the latest version of the library.

[2019-01-03 11:44] alvinmactal commented on #177
I fixed it by adding the slide configuration.  [slideConfig]="{playConfig: {autoPlay: true, interval: 5000, pauseOnHover: true}

[2019-01-03 11:57] Ks89 commented on #177
You are right, this is a bug and it's happening in all examples except for E1 E2 E3 E4.
Thank u. I'll fixit today with a new release.

[2019-01-03 12:36] alvinmactal commented on #177
You're welcome. Thank you!

[2019-01-03 13:32] Ks89 commented on #177
7.2.1 released

[2019-01-03 13:32] #177 closed

[2019-01-06 06:17] shaamcom83 opened #178 "Support for PDF viewer"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions

My official live example on StackBlitz (based on https://stackblitz.com/edi

[2019-01-06 12:15] Ks89 commented on #178
Hi!
Honestly I'm not an expert about PDFViewer and how to integrate it into a `<div>`.

The best way to do this is probably start experimenting a cross browser way to show PDFs in a div with fixed width and height and then try to merge it into the library.

To do this I need help, so a repo with some working examples supporting browsers >= IE11.
Then, if the result is good, I can try to merge it i

[2019-01-10 03:53] Hirbod commented on #176
@Ks89 I guess he has the same issue as I have: how to create dynamic galleries (multiple) with the PLAIN format. I can't see any method to pass a gallery-id.

I also need 20 Plain-Galleries.

[2019-01-10 07:15] Ks89 commented on #176
Please check my live example linked above. There is also a documentation website with tons of examples.
Id is mandatory input of the gallery, called exactly 'id'.

If I didn't understand your ploblem yet, please try to explain it again in a better way.

[2019-01-10 10:39] fbmarques commented on #176
@Hirbod I also could not do it dynamically.

@Ks89 has examples, but it uses the same gallery, I need to make the call via the database, where it has the reference of the image, in the case, it uses google images, not coming from the database.

The ID is important, but the gallery call is not by the id but by the [modalImages] = "images"

It would be very interesting an example where someone gets

[2019-01-10 10:57] Ks89 commented on #176
So do you want to init the gallery with an empty array and add images asynchronously?
If yes you could simply create an empty array and add images to the input (not pushing but re-instantiating the array) dynamically. In my examples there is a demo where images are added using an interval function (probably at the end of the live example in modal section)

[2019-01-10 11:05] fbmarques commented on #176
@Ks89 again, thank you for your attention!

As I tried to explain, I have products, registered in the database, with descriptions.

Each product has a maximum of 5 photos.

I can bring the products of the database, I put the id in the "ks-modal-gallery", but in [modalImages] = "images" I have already tried in several ways and could not associate by ID or by the name I created of each collection of

[2019-01-10 12:16] Ks89 commented on #176
Please could you create a live example on stackblitz emulating dB calls with rxjs using the delay operator? Otherwise I'll never understand the real problem.
Thank u.

[2019-01-10 12:52] fbmarques commented on #176
I understand, I'll try to do, I've never used rxjs.

I'll post it as soon as I can.

Again grateful for the attention

[2019-01-21 23:57] Ks89 commented on #137
@veliksergey I'll fix this with 8.0.0 (already work in progress), but I have to re-write a big part of the library (only internal stuff), so I need some time to do that.

First of all, I'll release 7.3.0 next month with a huge internal change to speed up 8.0.0 release. In this way, I can add the required changes that I'm experimenting on top of 7.3.0.

[2019-01-22 06:56] zlodiak opened #179 "How disable titles and descriptions?"
please help my hidden all titles and descriptions. i try follow config:
[code]
## Current behavior
when i hover on plain or modal image, then render titles.

## Expected behavior
when i hover on plain or modal image, then do not render titles.

## Minimal reproduction of the problem with instructions
live minimal example is here: https://stackblitz.com/edit/angular-modal-gallery-v5-asmqs5

Browser

[2019-01-22 07:19] Ks89 commented on #179
Hi.
Please check the documentation website https://ks89.github.io/angular-modal-gallery-2018-v7.github.io/.
I created two live examples about this (under example menu) and also full example inside the repo https://github.com/Ks89/angular-modal-gallery/tree/master/src/app/modal-gallery

What you should do is simply pass the right currentimageconfig object to hide descriptions.

[2019-01-22 23:04] veliksergey commented on #137
@Ks89 I was able to go around this problem by putting ks-modal-gallery inside inside mat-dialog component
Of course it's not the best solution, but it should work for now

Main Component:

`<figure *ngFor="let img of images">
    <img [src]="img.modal.img" [alt]="product.title" (click)="openGalleryDialog(img)">
  </figure>`

`openGalleryDialog(image: Image) {
    const index = image ? this.images.

[2019-01-22 23:16] veliksergey commented on #137
@Ks89  I was able to go around this problem by putting ks-modal-gallery inside mat-dialog component
Of course it's not the best solution, but it should work for now

Main Component:
[code]

[code]

In GalleryDialogComponent:

[code]

[code]